[2017-11-02 17:32] msg768 opened #1 "Can't bind to 'start' since it isn't a known property of 'ngx-zxing'."
I have followed the steps in your README but I'm getting the following errors:
Any help would be much appreciated!
NodeInvocationException: Template parse errors:
Can't bind to 'start' since it isn't a known property of 'ngx-zxing'.
1. If 'ngx-zxing' is an Angular component and it has 'start' input, then verify that it is part of this module.
2. If 'ngx-zxing' is a Web Component then add 'CUSTOM_E

[2017-11-03 03:11] msg768 commented on #1
I think I found out the problem today. I have an extra < in my code :/

[2017-11-04 12:18] werthdavid commented on #1
Hey,

I'm currently updating the README...
I think importing the FormsModule should solve the problem:

import {FormsModule} from "@angular/forms";

and

@NgModule({
  imports: [
    BrowserModule,
    **FormsModule**,
    **NgxZxingModule.forRoot()**
  ],
  declarations: [ App ],
  bootstrap: [ App ]
})

I'll post a working Plunkr soon.

[2017-11-04 12:36] msg768 commented on #1
Thanks! I ended up using instascan in an iframe in my angular project and it's working! :)

[2017-11-04 12:39] werthdavid commented on #1
Nice ;-)
I made this b/c I was not so happy with instascan...

[2017-11-04 12:42] msg768 commented on #1
Fair enough :P

[2017-11-04 12:49] #1 closed

[2017-12-01 19:26] odahcam opened #2 "Point zxing-typescript as a dependency"
[zxing-typescript](https://github.com/aleris/zxing-typescript) should be imported inside this versioned code, it should be used as a dependency instead.

[2017-12-04 11:54] Timothee-Retailleau opened #3 "Webcam do not stop when component is destroyed"

[2017-12-05 06:57] skuppa opened #4 "How to change the size"
The angular component works great but I am not able to resize.  I even tried in the plunker but did not work.  Is that possible to resize and can you show me an example?

Thanks.

[2017-12-06 10:35] Timothee-Retailleau commented on #4
you can resize with your host component css with ng-deep

[code]

[2017-12-06 13:37] Timothee-Retailleau opened #5 "onCamsFound issue with mobile device"
(onCamsFound) do not work with mobile device.

The function do not retrieve any camera.

Scanner is still working but using the first camera referenced in the device.

[2017-12-06 15:12] skuppa commented on #4
Thank you very much.  It works great.

[2017-12-08 11:08] yasnielelias opened #6 "testcases"
are there some testcases defined ?

[2017-12-08 17:30] werthdavid commented on #2
I actually tried that in the first place but can't import zxing-typescript with .forRoot() or anything since it is not a proper lib/module.
It's my first angular library, feel free to make a PR :-)

[2017-12-08 17:30] werthdavid commented on #3
Good point, will check on that!

[2017-12-08 17:32] werthdavid commented on #4
Thanks for the help Timothee.
Will probably make an Input so you can pass an extra css-class do avoid using /deep/....

[2017-12-08 17:33] werthdavid commented on #5
Android or iOS?
(Mobile-)Browsers usually block the camera access if your page is not delivered via HTTPS! And on iOS it only works with native Safari.

[2017-12-08 17:34] werthdavid commented on #6
You mean like unit-tests? Not yet, sorry.

[2017-12-08 17:35] odahcam commented on #2
All right, I will try then. 🙂

[2017-12-08 17:57] #3 closed

[2017-12-11 17:54] Timothee-Retailleau commented on #5
Android.
I'm using https so it's not related to this. I'll try to explore a little bit more in few days.

[2017-12-12 14:58] ntswor opened #7 "decode triggered although stopped"
It seems that there is a problem when stopping the camera. I'm always getting this exception:
[code]

As far as I've seen the decodeWithDelay is called again when the callback of the result returns. There is just a check if the decode should be done once (which is false per default). Therefore a new timer will start and it tries to get the input once again:

[code]

Solution may be to check if the

[2017-12-13 06:45] werthdavid commented on #7
Thanks for the research, will address this issue in the next release!

[2017-12-13 08:33] ntswor commented on #7
Thx for your fast response. I had a look at the commit and tested it locally. It's not solving the problem I mentioned.

The problem I'm referring to happens in the BrowserCodeReaderExt class. I will try to describe my use case a little bit in more detail:

- I'm adding the component and starting the camera (by setting the start input to true)
- As soon as I'm getting a response from the scan I'm

[2017-12-13 08:37] werthdavid commented on #7
Thanks for the detailed analysis and the PR! Looks good to me, I merged it. Thanks! BTW: my first angular component and also my first active project on github as well :wink:

[2017-12-13 08:39] #7 closed

[2017-12-13 19:23] #6 closed

[2017-12-14 10:46] odahcam commented on #2
Well, I managed to build the project with zxing-ts as a dependency. I also updated the code to Angular 5 patterns. 🎉

[2017-12-14 19:13] werthdavid commented on #2
Okay so what are we gonna do?

[2017-12-14 19:37] odahcam commented on #2
I'm trying to fix zxing-typescript package right now. 😅

[2017-12-15 18:49] werthdavid commented on #2
Cool, what can I do? Will probably have some time during the holidays

[2017-12-15 19:46] odahcam commented on #2
Nice, I've successful installed the package dependencies only today, 'cause I had a problem with one of them (`sharp` who has some peculiar dependencies).

Also, I can already create a bundle of the project, but I need to test if it will work with `ngx-zxing`.

If you want to make any improvements in the code or help with tests or getting `ngx-zxing` to work with the package would me awesome. Basi

[2017-12-16 20:47] werthdavid commented on #5
I just tested it with an emulated Android device (API Level 25; 7.1.1, x86) and there it works fine with Chrome... What Browser and OS version are you using? Are you sure the Browser has the permission to access the camera?

[2017-12-19 10:30] odahcam commented on #2
I've done. I fixed `zxing-typescript` build in my fork and published it, now `ngx-zxing` is using the fixed version instead of the original.

[2017-12-20 08:07] werthdavid commented on #2
Awesome!! You wanna make a PR to merge your changes back here? What about zxing-ts, are you maintaining the fork or will aleris accept a PR?

[2017-12-20 11:08] odahcam commented on #2
Well, lets try to merge ngx-zxing back here! About zxing-ts, I don't think @aleris will accept that quantity of changes in a single take, so I will keep the fork for a while until we decide what happens to it.

I just think that my ngx-zxing fork is not ready for a PR, there's still things I have to fix. I've done the dependency task, but I changed the project structure and messed up with the comp

[2017-12-22 07:20] aleris commented on #2
I would greatly appreciate a PR, would be great if would be focused and manageable to merge. Thanks!

[2017-12-22 17:06] odahcam commented on #2
Can you take a look in my fork and give some feedback to us? :)

[2018-01-05 13:48] mattgek commented on #5
Will there be a fix for ofther browsers on IOS beside native Safari?

[2018-01-05 13:56] werthdavid commented on #5
Nobody knows... the issue with iOS is not related to this library but WebKit/WKWebView. Let's hope Apple will support WebRTC at some point in the future for other Browsers.

for some further reading see (this blog entry)[https://bloggeek.me/webrtc-ios-support/]

[2018-01-05 14:30] mattgek commented on #5
@werthdavid Ok thanks for the quick response.

[2018-01-08 07:30] odahcam commented on #2
I made progress with both packages. We can start thinking in the future of both and if the PRs are gonna happen.

Here is an example of everything (I bet/hope) working: https://stackblitz.com/edit/ngx-zxing-2-exemple

[2018-01-12 09:51] werthdavid commented on #2
Changes of ngx-zxing look fine for me.

[2018-01-17 02:56] tearforfear007 opened #11 "Module not found: Error :Can't resolve 'text-encoding'"
**Hi David, I have tried to work with this` ngx-zxing`, but I get `webpack: Failed to compile `when I run the `ng serve`
What is the problem with these error and how can I fix it??**

Error show as below:

<details/>
  <summary>Error details</summary>

[code]

</details>

[2018-01-17 07:44] werthdavid commented on #11
Thanks, I'll look into it. Can you provide your package.json please?

[2018-01-22 11:36] jbrtrnd opened #12 "Phone camera to screen doesn't work"
Hi,

I implemented ngx-zxing in an web application.
QR Code scanner works fine when I try from my computer embedded webcam to another screen (smartphone with a QR code picture or a QR code photo), works also with a QR Code printed on paper.

The issue is about mobile phone camera(s).
First, (when working) the scan is harder to achieve (position, zoom etc... takes longer, sometimes works, sometimes

[2018-01-23 09:48] werthdavid commented on #12
Okay, that's interesting. Basically this component just wraps aleris' zxing-typescript library. Can you provide the images you used as jpg or png? I could imagine there might be a difference in the encoding that causes issues.

[2018-01-23 09:54] Timothee-Retailleau commented on #12
I had some trouble using paper too, I noticed it was related to light. Turning on the flash on the smarphone truely rise up performances when scanning QR on paper.

[2018-01-23 09:58] jbrtrnd commented on #12
Î agree it's weird.

I had to change my code to use directly zxing-typescript as it's and now it works perfectly (performance, screen, paper, even with a large capture).

This the kind of picture that I used :

Paper QR Code :
![img_20180122_115636](https://user-images.githubusercontent.com/5073733/35269334-fba54c84-002b-11e8-8826-914ce181390a.jpg)

Screen QR Code :
![img_20180122_111924](https://

[2018-01-23 10:17] werthdavid commented on #12
Hm it works like a charm with my iPhone... Are you using an Android device?

[2018-01-23 10:19] jbrtrnd commented on #12
Yes tested on 2 android devices with at least android 6+ with Google Chrome browser.

[2018-01-23 16:24] abelardolg opened #13 "Error: Cannot find module '@angular-devkit/core'"
Hi,
I have just installed your component but

is not mentioned in docs.

Kindest regards.

[2018-01-23 16:27] abelardolg commented on #13
I installed the previous library but this I got this message:

ERROR in ./node_modules/ngx-zxing/ngx-zxing.umd.js
Module not found: Error: Can't resolve 'text-encoding' in '\node_modules\ngx-zxing'

Best regards.

[2018-01-23 17:12] flvmoreno opened #14 "don't work with barcode"
the component works fine with qrcode, but not with barcode. i'm trying to implement a both reader with next code:

`<ngx-zxing
 [start]="camStarted"
 [device]="selectedDevice"
 (onCamsFound)="displayCameras($event)"
 (onScan)="handleQrCodeResult($event)"

[2018-01-24 08:06] abelardolg opened #15 "StackBlitz demo doesn't work on tablets"
Hi,

A mere minutes I tried to run your StackBlitz demo on Samsung Android tablet but it doesn't work.

The select field appears with no content.

Is there another demo available?

Thanks in advance. Best regards.

[2018-01-24 09:40] werthdavid commented on #15
@odahcam made that demo, maybe he has more information?

[2018-01-24 09:42] werthdavid commented on #14
Correct, that's a limitation of the [zxing-typescript](https://github.com/aleris/zxing-typescript) library that is used.

[2018-01-24 09:43] werthdavid commented on #13
Seems to be a duplicate of #11

[2018-01-24 10:55] odahcam opened #16 "Can't switch cameras"
Sometimes (just sometimes, not always), when I try to change my camera source (with that select input) I got this error and cameras doesn't change:

[code]

![image](https://user-images.githubusercontent.com/3942006/35328597-06ebbebc-00e4-11e8-85f3-6d3f3d4a26ba.png)

[2018-01-24 10:56] odahcam opened #17 "Treat exception when no cameras found"
When no cameras found, user has no option to take a callback and do some alert:

[code]
![image](https://user-images.githubusercontent.com/3942006/35328728-753b355a-00e4-11e8-882d-d7bac6f35ef8.png)

[2018-01-24 11:06] armno commented on #12
I have the same problem on my phone:
- Nexus 6P
- Android 8.1.0
- Chrome 63.0
It works on the demo page of zxing-typescript, but not in the app I'm building using ngx-zxing.

In fact I tried with different QR code images I have, including examples from @jbrtrnd , still could not get it work.

[2018-01-24 11:23] odahcam commented on #15
Did you try to open the preview in a dedicated window for it?

(I can't test on my tablet, because it doesn't loads any of StackBlitz live preview pages)

Do you have any print from browser's console?

I can say that there are some known issues: #16 and #17.

[2018-01-24 11:26] werthdavid commented on #2
@odahcam Whats your idea for the project? Do you want to push the changes you made back here or are you gonna maintain your fork?

[2018-01-24 11:47] odahcam commented on #2
Well, at this time I need to be able to publish versions everytime I need them, I can't be forced to wait cause I need some features for like yesterday. 😆

If I my need can be satisfied here, I can make a PR today, if it does not I will have to wait a little more to PR my changes back.

[2018-01-24 12:53] werthdavid commented on #2
Sure thing, not a problem, just wanted to know :wink:
I just had the feeling that some to the issues that arouse here, could potentially already be fixed in your code base.

By the way, thanks for the great work, I really appreciate it!

[2018-01-24 12:59] odahcam commented on #2
You're welcome! Sure something I got fixed, but that issues I created today are still a problem in my branch that I'll try to fix week. Also I'm planing to create another demo with angular/material and more user interactions.

[2018-01-25 16:09] odahcam commented on #2
@werthdavid what you think about publishing the package under a npm-scope?

[2018-01-25 20:36] FvelascoDS commented on #4
Hi there!
I've seen that this issue is closed, however let me comment a couple of things.
I'm using this package in an Ionic/Angular app. I've been experiencing the same problem with the video size. I added [cssClass] ="small-Video" and its respective class in the css file, but nothing changed.
I checked my ngx-zxing version, it's the last version until now, 0.3.4.
After inspecting the "preview" e

[2018-01-26 19:09] odahcam commented on #16
A method `setDevice` should be created to handle the device change and prevent strange behaviors.

[2018-01-26 19:12] odahcam opened #19 "Add documentation for v1"
Add documentation about how to use it from component's TypeScript file with `@ViewChild`, etc.

[2018-01-26 21:09] odahcam commented on #16
Related: https://developers.google.com/web/updates/2017/06/play-request-was-interrupted

[2018-01-29 06:20] werthdavid commented on #2
sure, what did you think of?

[2018-01-29 06:21] werthdavid commented on #4
Will check on that

[2018-01-29 12:51] odahcam commented on #2
About the scope name or the idea?

Scope could be `@zxing/ngx-scanner` or anything else, I really did not think about what could be a good name, so much so that I put a random name (`@barn/ngx-zxing`) in my published package just to have it published.

About the idea it is cool because the scope owner can manage who can publish in that package, so you could set publish permissions for both of us.

[2018-01-30 09:21] werthdavid commented on #2
Both sounds good 😉

[2018-01-30 10:33] odahcam commented on #2
I created *zxing* org. on NPM (I can't believe it was not created yet), so tell me if you wanna to go ahead with this and lets see what we can do. 😀

[2018-01-30 10:34] werthdavid commented on #2
I'm good 2 go, lets do it!

[2018-01-30 10:37] werthdavid commented on #4
Just looked at your example... It seems like your binding is wrong.
Please try either
[cssClass]="'small-video'"
or
cssClass="small-video"

I will update the Readme

[2018-01-30 10:39] #4 closed

[2018-01-30 10:49] odahcam commented on #2
Nice! So now we need to start to deprecate our own packages and point to the zxing scope publish and, obviously, publish something under the scope too, hehe. I can do something with my repo tonight and also finish the PR #20 .

[2018-01-31 07:59] #2 closed

[2018-01-31 07:59] #14 closed

[2018-01-31 08:14] kaelvergara commented on #11
I encountered the same error and fixed it by installing `text-encoding` plugin: `npm install text-encoding`

[2018-01-31 10:32] odahcam commented on #13
We just nedd to add this package to devDependencies.

[2018-01-31 10:37] odahcam commented on #13
@abelardolg for now just run `npm i @angular-devkit/core -D` and it will install the missing package for ya.

[2018-01-31 10:40] odahcam commented on #11
I think that it was a problem with the zxing core, I'll take a look to see if this package uses the `text-encoding` and if it doesn't I'll close this issue.

[2018-01-31 10:41] odahcam commented on #13
My develop fork solves this, so soon this will be fixed.

[2018-01-31 11:50] odahcam commented on #5
I think this is related to #16.

It seems very outdated and hard to track, so I'm closing. Feel free to open a new issue if I'm wrong, regards.

[2018-01-31 11:50] #5 closed

[2018-01-31 11:55] odahcam commented on #12
Try to upgrade or use `@barn/ngx-zxing` for now, this should fix some unusual reported issues.

We are working on new releases that should fix most of the issues.

Thanks for using ngx-zxing, we got new stuff comming. 😀

[2018-01-31 11:59] odahcam opened #23 "Publish npm package under scope (refactoring needed)"
I think we can do this for v1.0.0, a major release indicating that some things will change completely.

We also gotta decide what name use for the scanner component, maybe `NgxScannerComponent` and `NgxScannerModule`? (maybe it's too generic)

 - [x] Publish package.
 - [x] Rename classes.
 - [ ] Release G.A. version.

[2018-02-01 10:29] csutorasr opened #24 "Default throttling should be set"
**Why change an existing behavior?**
The default throttling is now 1500ms. It may differ for applications.

**Expected behavior**
There should be an providable config object also for the configurations maybe added later.

[2018-02-08 07:08] praveenrengarajan opened #25 "how to handle "Requested device not found" exception?"
I'm trying to check whether camera available or not on component OnInit, if no device found have to show the warning message.

`ngOnInit() {

  }
  displayCameras(cameras: object[]) {
      this.availableDevices = cameras;
      if (cameras && cameras.length > 0) {
          this.selectedDevice = cameras[0];
          this.cameraStarted = true;
      } else {
        alert('Please Enable Camera /

[2018-02-08 10:12] praveenrengarajan commented on #25
@odahcam @werthdavid  plz help

[2018-02-08 10:46] praveenrengarajan opened #26 "How to set default Camera?"
Instead of giving choices to the users, especially in mobile I would like to make default camera should be back camera.
Is there any option for that?

[2018-02-08 11:35] odahcam commented on #25
I'm with the same problem as you and I'm working on it 😄

You can try the `1.0.0-dev` version which is not that well documented, but has a event `camsNotFound`.

I'll post updates soon :)

[2018-02-08 11:38] odahcam commented on #26
Again, I want the same as you, so I created a method called `chooseDevice`, which is available in `1.0.0-dev`.

And again, I'll post updates soon :)

[2018-02-08 11:42] odahcam commented on #26
Basically you will be able to see all available `videoinputdevices` and iterate'em, so you will need to check if that item is the camera you want, if it is, just call `NgxZxingComponent.chooseDevice` and pass the choosen device to the method. (the names can differ from the latest version)

[2018-02-08 16:24] odahcam commented on #23
First dev version published named as `@zxing/ngx-scanner`. Component not renamed yet, it will be named as `ZXingScannerModule`

[2018-02-08 16:27] odahcam commented on #24
I'm working on it and it seems a little odd, because throttling needs to be set throught the qr reader class instantiation. Things can get a little unperformant if I bind this behavior to an `@Input` property. We gotta discuss some ideas on how to implement this.

[2018-02-08 17:31] csutorasr commented on #24
As I told you it can be injected. I will add the  link from the docs later.

[2018-02-08 18:12] odahcam commented on #24
If you know how to do, add your snippet here and I will properly add to the project, or make a PR. 😁

[2018-02-08 18:15] csutorasr commented on #24
They are called injection tokens. Here is the docs: [https://angular.io/guide/dependency-injection#dependency-injection-tokens](https://angular.io/guide/dependency-injection#dependency-injection-tokens)

If I have time I will make the changes.

[2018-02-09 11:51] praveenrengarajan opened #29 "Camera not opening in Android Web View app"
I am trying same web application in Android WebView app, even I gave camera permission, it's not showing any camera list and not opening the camera. Is it any permission problem, or have to do some other setup?

[2018-02-09 13:43] odahcam commented on #25
Almost done!

![image](https://user-images.githubusercontent.com/3942006/36030457-7c810f90-0d8e-11e8-926e-0e38b8700970.png)

[2018-02-09 14:59] odahcam commented on #25
I will close this now as this issue is a duplicate of #17. Thanks, I see you there.

[2018-02-09 14:59] #25 closed

[2018-02-09 22:06] werthdavid commented on #29
https://stackoverflow.com/questions/38917751/webview-webrtc-not-working

Does that help by any chance?

[2018-02-10 02:25] lbrep opened #30 "Doesn't scan and display the result."
Although It correctly detects the camera, the `ngx-zing.umd.js` makes attempts which is logged in the console, but can't scan and display results.
Even on the stackblitz example given, I do not see any results. While the plunker example scans it immediately.
Any help is appreciated.

[2018-02-10 02:49] odahcam commented on #30
Please, provide technology, device, browser, etc. you're using.

[2018-02-12 04:49] praveenrengarajan commented on #29
@werthdavid  working thanks

[2018-02-12 20:00] odahcam commented on #29
You're welcome.

[2018-02-12 20:00] #29 closed

[2018-02-14 13:10] odahcam commented on #30
Closing because it has not the required info.

[2018-02-14 13:10] #30 closed

[2018-02-14 13:12] odahcam commented on #15
Closing due to no activity.

[2018-02-14 13:12] #15 closed

[2018-02-14 13:14] odahcam commented on #13
Changed the milestone because we have no interest in the v0.3.7.

Closing as resolved in the new milestone.

[2018-02-14 13:14] #13 closed

[2018-02-14 13:14] odahcam commented on #11
Fixed in v1.0.0-dev

[2018-02-14 13:14] #11 closed

[2018-02-14 13:14] odahcam commented on #16
Fixed in #28

[2018-02-14 13:14] #16 closed

[2018-02-14 13:16] odahcam commented on #26
Fixed in #28.

You can use the dev version, which should be more stable than 0.3.x.

[2018-02-14 13:16] #26 closed

[2018-02-14 13:17] odahcam commented on #17
You can do this now, fixed in #28.

Docs will be added soon.

[2018-02-14 13:17] #17 closed

[2018-02-14 13:19] odahcam commented on #12
I'm closing this because there's no activity. Try to use the dev version and see if it solves the problem. 😀

Then you can open a new issue if it persists. Thanks for helping.

[2018-02-14 13:19] #12 closed

[2018-02-14 13:21] odahcam commented on #19
Let's use the Wiki for this, looks like a good feature for doing that. 😁

[2018-02-16 07:39] werthdavid commented on #23
I would say so. Makes it obvious that it is an angular component

[2018-02-16 10:29] odahcam commented on #23
Do you need to say that this is a Angular component when you use inside Angular the package is already published under the `ngx-` preffix?

[2018-02-16 10:32] werthdavid commented on #23
Well... Good point! :grin: Let's go without the prefix then

[2018-02-19 13:00] odahcam opened #31 "Improve/rename `start` property"
Well, this property is a little confusing, my suggestion is to rename it to `autostart` and refactor the code to make less use of it. Also, methods should be included to start/stop scan and play/pause the preview.

If people still wants this property, I thikn it should be at least renamed to make it clear what it does. Also, there are implementations of the component property that reproduces stran

[2018-02-19 16:11] werthdavid commented on #31
Agree!

[2018-02-21 21:12] werthdavid opened #33 "Change detection performance"
Set the component to changeDetection: ChangeDetectionStrategy.OnPush to increase performance

[2018-02-22 02:04] odahcam commented on #33
I could not understand whats exactly is that feature, maybe we should put it in v1.1.0 milestone else we will never finish v1.0.0. 😆

Also, let's keep an eye on performance and try to keep it fast as is, it's an awesome and killer feature against concurrents. 😉

[2018-02-22 06:51] werthdavid commented on #33
Good point that's indeed something for 1.1

[2018-02-25 20:30] csutorasr opened #34 "ngDevMode redeclare"
Error given by angular-cli.

[code]

The problem probably is the Angular is also installed in the `node_modules` of ngx-scanner module, and they are colliding.

Version: 1.0.0-dev.759282

On windows machine removing the `node_modules/@zxing/ngx-scanner/node_modules` folder solved the problem.
Under linux on CircleCI there was no problem.

[2018-02-25 23:00] csutorasr opened #35 "AOT build fails"
I get the following error during AOT build.

[code]

To the npm test the aot build should be added.

[2018-02-26 00:28] odahcam commented on #35
Could you share the version of the packages you're using?

[2018-02-26 00:30] odahcam commented on #34
Could you update to the latest version and test again?

[2018-02-26 09:48] werthdavid commented on #19
Created an initial Wiki

[2018-02-26 10:01] werthdavid opened #36 "Remove log output"
I'd suggest that we remove the console.log and console.warn output or at least replace it with console.debug (`browser-code-reader.ts`)

[2018-02-26 10:20] csutorasr commented on #36
Are those needed?

I think all of them could be removed from builds, as they are only used in development of the library. If the library works, no one will use them. If someone would like to debug the library they will pull the repo and see the console.

[2018-02-26 10:21] csutorasr commented on #34
I close this, as it has worked with the latest version.

[2018-02-26 10:21] #34 closed

[2018-02-26 11:34] csutorasr commented on #35
#34 solved this issue, too.

[2018-02-26 11:34] #35 closed

[2018-02-26 12:40] odahcam commented on #34
Nice to hear that! 🎉

[2018-02-26 12:43] odahcam commented on #36
Please, note that I'm publishing under a `v0.0.0-**dev**.<hash>` tag, I intend to remove these logs at the final version as well. 😄

[2018-02-26 12:52] odahcam commented on #31
Oh my god, this will have some impact on my develop branch and the v1.0 releases, I will try to create a new develop-v1.0 branch to avoid messing things up. Nice job btw.

[2018-02-26 15:36] ilinkMat commented on #31
Will the play/pause preview feature be included in v1.1.0 ?

[2018-02-26 16:57] odahcam commented on #36
Done.

[2018-02-26 16:57] #36 closed

[2018-02-27 06:54] praveenrengarajan opened #37 "Not scanning all Types of QR Codes"
I thought this library will work for all types of QR code, but its not reading some QR code.
Not Scanning QR:
![notworkingqr](https://user-images.githubusercontent.com/2884636/36713086-d7000382-1bb1-11e8-89ed-7b2249ebbd1f.PNG)
Working QR:
![working-qr](https://user-images.githubusercontent.com/2884636/36713087-d72e9ada-1bb1-11e8-92bb-c914e76a57cc.PNG)

[2018-02-27 07:06] #33 closed

[2018-02-27 07:08] werthdavid commented on #37
Code works with [zxing-online](https://zxing.org/w/decode.jspx)

[2018-02-27 07:12] werthdavid commented on #37
That exact code works with latest develop (see attached file).
I took your code and added a [quiet-zone](https://qrworld.wordpress.com/2011/08/09/the-quiet-zone/) which increases readability. Do you have the chance to influence the generation of the codes?

[2018-02-27 07:16] werthdavid commented on #24
Can we close that now?

[2018-02-27 07:18] #24 closed

[2018-02-27 09:55] praveenrengarajan commented on #37
"ngx-zxing": "^0.3.4" ,
I had generated again the qr code again in 4x mode, but still its not reading.
what is the latest version of `ngx-zxing` ?

[2018-02-27 11:06] ilinkMat commented on #31
Awesome work guys!
When would the v1.0.0 be released ?
Is there a way to pause the scanning and resume scanning when needed ?

[2018-02-27 11:12] werthdavid commented on #31
Thanks!
Well... there's no ETA but we wanna release as soon as possible.
At this point you can't pause scanning directly you can only stop and start it, but when you stop it the preview is gone.
A workaround would be that when you pause scanning you just don't handle the scan-result. This is just a workaround since decoding takes place and generates CPU-load but oh well... 😉

Pseudo code:
[code]

[2018-02-27 11:24] werthdavid commented on #37
I retested it with the Plunkr from the README (uses 0.3.4) on my iPhone. Worked there as well. I realized there is a small grey border around your code in the first comment, maybe this causes problems.

0.3.4 is the most recent version at the moment but we're about to release 1.0.0 soon!

@odahcam what you think about publishing a dev-version to npm?

[2018-02-27 15:29] odahcam commented on #37
Well, I'm already publishing lots of dev versions 😆

I recomend the `1.0.0-dev.a5265f` which I'm using in my app. You can add it to your `package.json`:

[code]

Or install via yarn/npm: `npm i @zxing/ngx-scanner@1.0.0-dev.a5265f --save`

You can also play with the latest version at: https://stackblitz.com/edit/zxing-ngx-scanner

Cheers.

[2018-02-28 08:10] werthdavid commented on #37
@praveenrengarajan does the issue still exist with 1.0.0-dev?

[2018-02-28 09:32] praveenrengarajan commented on #37
@werthdavid  facing another problem while installing -dev.
`
sharp@0.18.4 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the sharp@0.18.4 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.
`
working on it

[2018-02-28 10:48] odahcam commented on #37
This is a problem with your environment, try to install:
[code]
...and try again.

[2018-02-28 13:03] praveenrengarajan commented on #37
@odahcam yep, that was the proxy issue, it didn't allow me to install sharp.
`Cannot read property 'camerasFound' of undefined`
import { NgxZxingComponent } from '@zxing/ngx-scanner'; in component
and in module import { NgxZxingModule } from 'ngx-zxing';

component OnInit getting error, default camera getting activated for milliseconds and closed.

[2018-02-28 14:10] odahcam commented on #37
You should import `from '@zxing/ngx-scanner'` after the update.

I'm closing the issue because the main topic was already clarified.

[2018-02-28 14:10] #37 closed

[2018-03-01 12:46] odahcam opened #38 "Permission request timeout"
As long as some browsers are unable to ask for permissions, as Chrome in iOS 11, the permission request method should emit some failure event after a certain timeout, so developers can check that something is really wrong.

[2018-03-07 17:03] lawrencetaur opened #39 "Does not scan on some android phones"
Firstly, thank you for this great piece of work! We had trouble getting instascan to work on iOS and this has solved our problem.

But, I tested this on a Pixel 2 and Mi A1 it does not work all the time. Strangely, instascan works well on Chrome Android.

What's weird is ngx-zxing works on a Nexus 5 and an old Vivo phone with Android 4.2

Under https://github.com/werthdavid/ngx-zxing#performance y

[2018-03-08 05:58] lawrencetaur commented on #39
No matching version found for ngx-zxing@1.0.0-dev

I tried the following in package.json
^1.0.0-dev
^v1.0.0-dev
v1.0.0-dev
v1.0.0-dev.b3ec02

Still could not find the version. Even tried 'npm i https://github.com/werthdavid/ngx-zxing/tree/v1.0.0-dev.b3ec02' and 'npm i https://github.com/werthdavid/ngx-zxing/tree/v1.0.0-dev'

[2018-03-08 06:31] werthdavid commented on #39
Yes, sorry we're currently doing lots of refactoring... the package would be

@zxing/ngx-scanner@1.0.0-dev.b3ec02

[2018-03-08 08:06] werthdavid opened #40 "Option for disabling autofocus"
Disabling autofocus can potentially increase performance.
Add an option to disable it.

[2018-03-08 08:07] werthdavid commented on #39
@lawrencetaur concerning your question with autofocus: I made an follow-up issue (#40) for that

[2018-03-09 14:51] lawrencetaur commented on #39
Works well on Ionic with 'ionic serve' but throws the following error when built for production:

`Running app-scripts build: --prod
[19:02:15]  build prod started ...
[19:02:15]  clean started ...
[19:02:15]  clean finished in 7 ms
[19:02:15]  copy started ...
[19:02:15]  deeplinks started ...
[19:02:15]  deeplinks finished in 75 ms
[19:02:15]  ngc started ...
[19:02:21]  typescript error

[2018-03-09 20:38] odahcam commented on #39
So, are you using Ionic?

[2018-03-09 20:39] odahcam commented on #40
So, that attribute didn't work?

[2018-03-10 00:00] odahcam commented on #23
I finished the refactoring (I think..).

Can ya do some review to the code? I'm really anxious about finishing this.

[2018-03-10 03:46] lawrencetaur commented on #39
Yes. Ionic 3.9

[2018-03-10 15:19] odahcam commented on #39
Nice, but unfortunately is not my area. Probably is the deploy type we're using that generates that problem. Do you have any extra info?

[2018-03-10 15:57] werthdavid commented on #23
Will do! 👍🏻

[2018-03-11 09:49] pier2013 opened #41 "Are 1D barcodes supported?"
Hi,

first of all thank your for your efforts in making this port working on angular. Your library works like a charm for QR, but I haven't managed to find a way to scan 1D barcodes. I didn't find any clue about that.

I am using angular 5.2.8 and `@zxing/ngx-scanner` 1.0.0-dev.ec70451. Windows 10 and Android L on Nexus 5x.

Thank you

[2018-03-11 13:13] lawrencetaur commented on #40
I can confirm that this works.

[2018-03-11 18:48] werthdavid commented on #40
Just reopened it to rename the property as suggested in the comment of the commit

[2018-03-11 18:54] werthdavid commented on #41
Hey,
Unfortunately it only supports QR at this time.
The component relays on [zxing-typescript](https://github.com/aleris/zxing-typescript) (which we forked) under the hood but 1D codes are not implemented there (yet)

[2018-03-12 06:13] #41 closed

[2018-03-12 06:14] werthdavid commented on #40
@odahcam renamed the property so the issue will be closed

[2018-03-12 06:14] #40 closed

[2018-03-12 06:53] werthdavid opened #42 "Check dependencies"
E.g. imho rxjs is not needed here at all

[2018-03-12 06:53] werthdavid commented on #23
Looks good, lets go 😁

[2018-03-12 06:55] werthdavid commented on #23
I'm currently working on a Plunkr example which can then be exported and added to the docs-folder so a demo can be accessed via github.io
The docs-folder is the only folder I found the old ngx-zxing name so I think were ready for an initial release now

[2018-03-12 08:24] werthdavid commented on #39
Don't have any ionic experience either...
Can you use the sources of this component so it maybe prints more helpful output?

[2018-03-12 09:21] praveenrengarajan opened #43 "AOT Production Build: Failed"
`ERROR in @zxing\ngx-scanner\zxing-ngx-scanner.ts(9,2): Error during template compile of 'NgxZxingModule'
  Function calls are not supported in decorators but 'ɵmakeDecorator' was called in 'NgModule'
    'NgModule' calls 'ɵmakeDecorator'`

Package.json:  `"@zxing/ngx-scanner": "^1.0.0-dev.a5265f"`

Getting above error, while we build project in production mode (aot=true)

[2018-03-12 11:07] odahcam commented on #43
Angular version?

[2018-03-12 11:08] odahcam commented on #42
RxJS, and others like it, should be dev-dependency so the demo-app can run.

[2018-03-12 12:05] praveenrengarajan commented on #43
Angular CLI: 1.6.3
Node: 6.11.0
OS: win32 x64
Angular: 5.1.3

[2018-03-12 13:05] werthdavid commented on #43
Please update the library: `@zxing/ngx-scanner": "^1.0.0-dev.1.0.0-dev.ec70451` is the latest version, production build with `ng build --target=production --environment=prod` works fine for me

[2018-03-12 16:49] odahcam commented on #40
Thanks, I forgot to report that.

[2018-03-13 05:02] praveenrengarajan commented on #43
Still facing same problem, upgraded to ec70451
![image](https://user-images.githubusercontent.com/2884636/37323408-a3d34cbe-26a9-11e8-95fe-144a84fc1f82.png)

package.json
![image](https://user-images.githubusercontent.com/2884636/37323427-d06a1050-26a9-11e8-801e-173a9c829c20.png)

[2018-03-13 07:28] werthdavid commented on #43
- did you use yarn or npm?
- any linked dependencies?
- can you maybe update CLI to 1.7.x just to be sure..?
- anything special in tsconfig.json?
- you probably saw [this](https://github.com/angular/angular-cli/issues/4647#issuecomment-305967234) already..?

[2018-03-13 08:41] praveenrengarajan commented on #43
- using npm
- no dependencies in that particular module
- tsconfig

{
  "compileOnSave": false,
  "compilerOptions": {
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "moduleResolution": "node",
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "target": "es5",
    "typeRoots": [
      "node_modules/@types"
    ],
    "lib": [
      "es

[2018-03-13 10:40] werthdavid commented on #43
I created a new Angular Project with CLI 1.7.3 that gives me this package.json
[package.json.txt](https://github.com/werthdavid/ngx-zxing/files/1806531/package.json.txt)
running `npm run build` works fine.. poking in the dark here 😕

[2018-03-13 10:44] praveenrengarajan commented on #43
https://github.com/angular/angular-cli/issues/3854#issuecomment-274344771 this one helped.

[2018-03-13 10:45] werthdavid commented on #43
Awesome! 🎉

[2018-03-13 10:45] #43 closed

[2018-03-13 12:35] #19 closed

[2018-03-13 13:09] #23 closed

[2018-03-13 13:34] #42 closed

[2018-03-13 13:51] pier2013 commented on #41
Thank you

[2018-03-14 10:40] ilellouch opened #45 "Camera Permission on devices aksed every page reload"
Hello,

I've integrated this component (Thanks) and  what I see today is :
- On Desktop, permission is asked first time, then camera is working after each reload
- On mobile (I'm testing with Iphone SE, IOS 11 on Safari), everytime I'm reloading the page, same question over again "asking for permission".
Don't really know if it's a ngx-scanner question or a "permission handling by browser" questio

[2018-03-14 12:21] odahcam commented on #45
Different devices (browser) have some different behaviors. e.g.: Samsung Internet Browser asks for permissions everytime you choose a different camera. Chrome Browser in most Androids asks just the first time.

This is a difficult thing to track, so I will not close until @werthdavid gives his point.

Thanks for reporting. 😁

[2018-03-14 13:22] werthdavid commented on #45
I did some research and it seems that you can't prevent Mobile Safari from asking, sorry for that.

But: [iOS 11.3](https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_11_1.html#//apple_ref/doc/uid/TP40014305-CH14-SW1) has several changes regarding WebRTC, maybe the behavior changed there. I'll close the issue

[2018-03-14 13:22] #45 closed

[2018-03-14 13:59] odahcam opened #46 "ReferenceError: navigator is not defined at new NgxZxingComponent"
Some node applications may throw this exception when rendering in server-side.

I think that by just checking if the navigator is defined on the component's constructor should be enough to kill this issue.

[2018-03-14 14:06] odahcam commented on #46
I think that https://github.com/werthdavid/ngx-scanner/commit/172561ecc6efb57eb29ef3436b695bda3fe689ed should do the trick. I could not test it yet, my current environment is based on the angular-universal-starter template.

[2018-03-14 14:21] tillmon commented on #45
Try to turn off livereload

[2018-03-15 09:28] tearforfear007 opened #47 "Cannot Install By Angular CLI"
**Error occur as below, need help :**
C:\xampp\htdocs\ANGULAR_PROJECT\vQr>npm i `@zxing/ngx-scanner@latest` --save

[code]

[2018-03-15 10:59] werthdavid commented on #47
This is a problem with your environment, try to install:
[code]
...and try again.

[2018-03-15 12:04] Nightapes commented on #47
I have the same issue and the solution from @werthdavid  did not work.
I found out that the issue is in `@zxing-web/library` with `sharp 0.19.1`. With sharp 0.20.0 the issue does not appear. I created a PR https://github.com/zxing-web/library/pull/10

[2018-03-15 12:57] odahcam commented on #47
Just to share with you guys, this is what happens when `npm install` in zxing library:
[code]

As you can see, that's a lot of things, especially for Windows environments.

[2018-03-15 13:38] odahcam commented on #47
Package updated and working: https://zxing-ngx-scanner.stackblitz.io/

[2018-03-15 13:38] #47 closed

[2018-03-16 12:53] lawrencetaur commented on #39
Master branch works well on an Ionic 3.9 PWA! Thank you!

[2018-03-16 12:53] #39 closed

[2018-03-16 13:41] odahcam commented on #39
![image](https://user-images.githubusercontent.com/3942006/37523720-8bd1bb0a-2906-11e8-8b86-3abaf9a695ab.png)

[2018-03-25 18:30] odahcam commented on #46
I noticed that this was breaking some SSR, also this could be an error with my polyfills.

[2018-03-26 08:34] olegkolner opened #50 "Typescript Error: Cannot redeclare block-scoped variable 'ngDevMode'."
I'm trying to integrate the ngx-scanner into my ionic-app. The appropriate package, as well as module dependencies, are installed. But nevertheless, I've got an error:

"typescript: ...myproject/node_modules/@angular/core/src/render3/ng_dev_mode.d.ts, line: 9
Cannot redeclare block-scoped variable 'ngDevMode'."

My current angular version: 5.2.7

[2018-03-26 09:50] ninjaonsafari opened #51 "NullInjectorError: No provider for IterableDiffers!"
I get an error when i try the basic example:
`Unhandled Promise rejection: StaticInjectorError(AppModule)[NgClass -> IterableDiffers]:    StaticInjectorError(Platform: core)[NgClass -> IterableDiffers]:      NullInjectorError: No provider for IterableDiffers! ; Zone: angular ; Task: Promise.then ; Value: Error: StaticInjectorError(AppModule)[NgClass -> IterableDiffers]:    StaticInjectorError(Plat

[2018-03-26 11:37] odahcam commented on #50
Just update the package version. Duplicated: #34

[2018-03-26 11:37] #50 closed

[2018-03-26 11:41] odahcam commented on #51
This does not looks as a scanner error, this looks like some Angular error. I already saw this error a bunch of times. Have you tryied the [StackBlitz](https://stackblitz.com/edit/zxing-ngx-scanner) example?

I dunno how to help here. 😕

[2018-03-26 14:36] ninjaonsafari commented on #51
@odahcam yep i tried copying the code from the stackblitz but i gives me the same error... I dont know what i missing... I have all necessary modules imported and trie `.forRoot()`. still no luck

[2018-03-26 15:04] ninjaonsafari commented on #51
when I remove `[ngClass]` on [this line](https://github.com/werthdavid/ngx-scanner/blob/master/src/app/modules/zxing-scanner/zxing-scanner.component.html#L1) then it works

[2018-03-27 06:20] ninjaonsafari commented on #51
@odahcam yes there is one with @angular and rxjs inside

[2018-03-27 09:31] werthdavid commented on #51
Have you imported FormsModule?

[code]

[2018-03-27 16:17] Clark73 commented on #51
Just wanted to say I am also experiencing this issue:

Dependencies
[code]

Module Def:
[code]

I was previously using v0.3.4 Of this package, and I am trying to upgrade it to v1.0.2. I have tried to also follow the StackBlitz example to no avail.

[2018-03-27 16:57] Clark73 commented on #51
Okay so the root cause of this seems to actually be the same as https://github.com/werthdavid/ngx-scanner/issues/43.   (at least for me)

With the angular CLI when running `ng serve` on demand compilation of the scanner component results in the Injector error. If you start trying to do a `ng build --prod` or `ng serve --prod` it gives you the true compilation error of
[code]

So @ninjaonsafari  tr

[2018-03-27 17:19] odahcam commented on #51
Refering to this comment: https://github.com/werthdavid/ngx-scanner/issues/51#issuecomment-376410434

@ninjaonsafari please delete that inside `node_modules` folder.

[2018-03-27 17:20] odahcam commented on #51
Refering to this comment: https://github.com/werthdavid/ngx-scanner/issues/51#issuecomment-376459174

@werthdavid shouldn't the FormsModule be imported by the scanner module? I remember to write that import and it should be there. 😕

[2018-03-27 17:40] odahcam commented on #51
@Clark73 , please try to delete the extra node_modules as I said in https://github.com/werthdavid/ngx-scanner/issues/51#issuecomment-376605359 .

[2018-03-27 17:42] odahcam commented on #51
@Nightapes and @werthdavid have work in a PR that should fix this problem. Let's try to make this fix GA ASAP. 🚀

[2018-03-27 18:31] werthdavid commented on #51
Thanks for the detailed analysis @Clark73 greatly appreciated!
@odahcam anything that speaks agains publishing a new version that contains the PR?

[2018-03-27 18:33] odahcam commented on #51
I didn't had time to test the latest develop branch. But if you say it works I agree with a patch publish. 🙂

[2018-03-27 18:41] werthdavid opened #52 "Support for 1D Barcodes"
After merging the [PR #12](https://github.com/zxing-js/library/pull/12) in the zxing-library, we will be able to detect 1D Barcodes as well. We should make the scanner fit for that as well
* extending BrowserBarcodeReader if needed
* at least update Wiki and Readme

[2018-03-27 19:47] odahcam commented on #52
So, I would go with a new option, like: `1d`, `2d`,  `both` for performance reasons. So we could select the appropriated reader class in the `BrowserBarcodeReader`. 🤔

[2018-03-28 06:45] werthdavid commented on #52
Yepp! I'm using ZXing on Android/Java, there you have constants for the different barcode-types and you can then define which codes are to be detected

[2018-03-28 07:03] werthdavid commented on #51
I tested and published version 1.0.3
@ninjaonsafari @Clark73  can you please test with the latest version?

[2018-03-28 07:39] ninjaonsafari commented on #51
@werthdavid i can confirm that it works with the update
Thank you :100:

[2018-03-28 07:39] #51 closed

[2018-03-29 12:59] odahcam commented on #51
Updating the package version I can confirm that @angular will not bother us anymore! 😁

![image](https://user-images.githubusercontent.com/3942006/38090065-c9dfe27e-3337-11e8-814c-ecfa02bf2897.png)

[2018-03-30 00:22] odahcam opened #54 "Create releases on GitHub for each NPM publish"

[2018-04-02 17:09] JanKe0909 opened #55 "Change the size of the preview-element doesn't work"
Hello,

I tried to change the css-style as explained in usage but it doesn't worked for me.

My html file looks like this below:
`<zxing-scanner #scanner class="test-class"
      [scannerEnabled]="scannerEnabled"
      [device]="selectedDevice"
      (camerasFound)="displayCameras($event)"
      (scanSuccess)="handleQrCodeResult($event)"
      [cssClass]="'small-video'"></zxing-scanner>`

and I tr

[2018-04-02 18:10] odahcam commented on #55
Please change the size of the `zxing-scanner` element, the elements inside the component should not be entirely customizable to avoid some extra issues, so we bounded the preview-video size to the `zxing-scanner` element size.

We will update the docs ASAP to avoid this to happen again.

[2018-04-04 12:48] andrewyan commented on #55
Hi, I’m a newbie to all these. I guess I’ve the same problem where the preview videos are always larger than the phone screen. Can someone put a simple example here how it can be shrinked to fit the screen? Many thanks!

[2018-04-04 16:32] odahcam commented on #55
You will loose the video proportions and the quality if you shrink the video. You **can** change the preview element size via CSS, there's only some existing styles you'll gotta overide. It just shouldn't be that way, but you can do that with some extra effort. Just do what @JanKe0909 did and add the required CSS overides so your styles are aplied to the element.

[2018-04-04 16:39] andrewyan commented on #55
I'm really sorry. When I said I'm a newbie, I'm serious. Could you give me an example of these overrides?

[2018-04-05 05:53] werthdavid commented on #55
Have a look at [this demo](https://stackblitz.com/edit/zxing-ngx-scanner-layout)
As you can see I made an scss-file that contains a css-class that resizes the video to the desired size. Be aware that `/deep/` is used in the example due to angulars [view encapsulation](https://angular.io/guide/component-styles)
an alternative would be to set ViewEncapsulation.None inside the app-component.
Or to ma

[2018-04-05 12:29] odahcam commented on #55
As long as `/deep/` is deprecated, I would like to suggest a change:

[code]

In Angular you can use the `::ng-deep` filter instead. 😁

Working example:
https://stackblitz.com/edit/zxing-ngx-scanner-layout-shvqdr?file=app%2Fapp.component.scss

Also, now that we have this built in feature, I would like to ask if it isn't time to remove the `cssClass` attribute. It could increase a little performanc

[2018-04-05 13:06] andrewyan commented on #55
Hi David & Luis, thanks so much for your detail info. I'll check them out and probably need to learn a lot more about Angular :) You people are very helpful and I really appreciate that!

[2018-04-05 14:01] csutorasr opened #58 "Turn on flashlight"
The feature request is about to having the ability to turn on the flashlight on mobile devices.

According to [this post](https://stackoverflow.com/questions/37848494/is-it-possible-to-control-the-camera-light-on-a-phone-via-a-website) the stream is needed which is [private](https://github.com/zxing-js/ngx-scanner/blob/e0f1e517718bb60ff84713a2dcc70f053827e623/src/app/modules/zxing-scanner/browser-

[2018-04-05 14:40] csutorasr commented on #58
Sorry, as stream is being saved, only a new function is needed called setTorch. It should contain the code to set the torch on and off.

It would be better, if the startDecode function would be separated into private parts like bindSrc, bindEvents, checkTorchCombatibility (as it is needed to be checked once). A property could be saved to show torch compatibility.

setTorch checks if torch can be a

[2018-04-05 16:07] odahcam commented on #58
I like that.

I did not remember very well how their logic is separated, sorry, I gotta take a look again to see what insights I will have. xD

I work with a lot of things at the same, so sorry if I misundertood.

[2018-04-05 18:29] JanKe0909 commented on #55
Hey guys, thank you for your help and your fast response. It works for me. 👍 Best regards, Jan

[2018-04-05 19:26] odahcam opened #60 "Remove `cssClass` attribute"
As said in: https://github.com/zxing-js/ngx-scanner/issues/55#issuecomment-378918988
...And confirmed in: https://github.com/zxing-js/ngx-scanner/issues/55#issuecomment-379035505

The attribute will be removed from `zxing-scanner` component.

We have to add docs to explain how to style the inner elements without the class and with `::ng-deep` virtual shadow piercing.

[2018-04-05 21:54] csutorasr commented on #60
Please DO NOT do that. ::ng-deep is [deprecated](https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep).

Use max-width attribute instead or something like that.

[2018-04-05 23:12] csutorasr commented on #55
This could be achieved through an `ngTemplate` as `::ng-deep` is [not a solution](https://github.com/zxing-js/ngx-scanner/issues/60#issuecomment-379088573)

[2018-04-06 00:26] csutorasr commented on #60
Yes it must be removed. I posted some parts at the wrong issue. I add a stackblitz to the other issue.

[2018-04-06 00:28] csutorasr commented on #55
[Here](https://stackblitz.com/edit/angular-q5mgpg) is the solution.

The video element and the template should be a ref. This way you can still control the video element, but with the template a css from the component is applied to the video element without `ngDeep`.

[2018-04-06 00:36] odahcam commented on #55
Yeah, this is a clean solution, but can be difficult for newbies (to use or implement).

This is not something meant to be changed, so I'm starting to think about sizing `@Input`s such as width, height, proportions, etc.

The focus is to customize the `zxing-scanner` and maybe some new properties could solve the video size.

[2018-04-06 11:31] werthdavid commented on #55
@csutorasr thanks for the example, looks very clean in deed.
I'd suggest to go with this solution, I think we're making our life harder by introducing more Inputs.
If somebody doesn't understand how to properly use that syntax he can still (for now) use the hacky `/deep/` workaround but I don't like the idea of more complexity with Inputs just b/c some people might not understand it

[2018-04-06 11:32] werthdavid commented on #60
@csutorasr thanks for the example, looks very clean in deed.
I'd suggest to go with this solution, I think we're making our life harder by introducing more Inputs.
If somebody doesn't understand how to properly use that syntax he can still (for now) use the hacky `/deep/` workaround but I don't like the idea of more complexity with Inputs just b/c some people might not understand it

[2018-04-06 11:46] odahcam commented on #55
In that case, I prefer to create some `zxing-scanner`-directive you can put in a `<video>` tag than creating this kinda stuff, the directive is gonna easier to handle by both sides.

[2018-04-06 12:39] odahcam commented on #58
Closing as merged.

[2018-04-06 12:39] #58 closed

[2018-04-06 19:24] #54 closed, assigned to odahcam

[2018-04-07 00:38] odahcam opened #65 "Housekeeping"
TODOs for making the house cooler.

- [x] Add contributing guide: https://gist.github.com/PurpleBooth/b24679402957c63ec426
- [x] Add code of conduct.
- [x] Add report bug issue template.
- [x] Add feature request issue template.

[2018-04-07 16:03] andrewyan opened #66 "Support of full-screen mode on iOS"
Hi, I'd like to know if there's a possibility of supporting
`<meta name="apple-mobile-web-app-capable" content="yes">` on iOS devices? The preview video stopped working on my iPhone Safari after I added this to my page. My Android Chrome work fine with the above tag though. Any idea?

Thanks again for this great QR scanning library! Great job!!

[2018-04-09 10:26] werthdavid commented on #66
I can reproduce the behavior but that seems to be a problem with iOS itself and not this component. Or can you run any other WebRTC examples in full-screen mode with camera?

[2018-04-09 11:28] odahcam commented on #52
News: https://github.com/zxing-js/library/pull/12 has merged!

[2018-04-09 11:50] andrewyan commented on #66
@werthdavid I believe you're right. I read the docs [here](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html) and it says Safari is not used to render the page when the _apple-mobile-web-app-capable_ tag is enabled. I don't know what's being used to render the page but it seems that camera access is not supported by it. Does

[2018-04-09 12:00] werthdavid commented on #66
It does indeed (unfortunately).
See [here](https://github.com/zxing-js/ngx-scanner#Limitations) and [here](https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_11_1.html#//apple_ref/doc/uid/TP40014305-CH14-SW1)

[2018-04-09 12:06] andrewyan commented on #66
Thanks for the answer, @werthdavid !

[2018-04-09 12:06] #66 closed

[2018-04-09 12:40] odahcam commented on #66
Locked because there's no solution. For futher issues, please fell free to open a new one.

[2018-04-09 14:36] #65 closed

[2018-04-10 11:35] csutorasr commented on #46
Try [this](https://angular.io/api/common/isPlatformBrowser). If it is a browser do not load anything.

E. g. [this line](https://github.com/zxing-js/ngx-scanner/blob/e246632b41c0fdb7ada6880e10ab7caf277b649e/src/app/modules/zxing-scanner/zxing-scanner.component.ts#L31) should be moved to the ctor.

[2018-04-10 11:54] odahcam commented on #46
Agreed.

I could reduce that behavior by checking `typeof navigator` before using it, but it stills buggy sometimes.

[2018-04-10 12:03] odahcam opened #70 "v1.1.0 Docs"
#### Bug, feature request, or proposal:
Feature.

#### What is the use-case or motivation for changing an existing behavior?
Users should be able to use the library without knowing it.

If there's already docs for something, let's just re-check.

Let's make a TODO list:

- [x] Getting started, instalation.
- [x] Basic Usage.
- [x] How to change devices.
- [ ] How to check browser media permissions

[2018-04-10 14:51] csutorasr commented on #46
The first link helps how to realize if it is a browser. You don't need the navigator object for that. (`navigator` may be tree-shaken and the build will remove it during AOT build.)

[2018-04-10 23:03] odahcam commented on #46
I've implemented that in a new branch, but I couldn't test it in server-side yet.

[2018-04-12 19:38] xtj7 opened #71 "Undefined error in prepareCaptureCanvas method, if scanner is closed within scanDelay time after scanning a QR code successfully"
#### Bug, feature request, or proposal:
What am I trying to do: I open an overlay to scan the QR code and when it was scanned successfully, I want to immediately close it. If I do that through the scanSuccess callback, it will throw an error that "this.imageElement.naturalWidth" is undefined

#### What is the expected behavior?
After a successful scan, I want to be able to immediately stop scannin

[2018-04-12 20:48] odahcam commented on #71
Nice find!

I think the proper solution would be to `clearTimeout(this.timeoutHandler)` on `stop`, this way the scan will be really stopped.

[2018-04-12 20:55] xtj7 commented on #71
Thanks :)
But this is already happening, as far as I see. On change of scannerEnabled, the resetScan method of the scanner component is called, which in turn calls the reset method of the codeReader. The codeReader's reset method calls the stop method, which already clears the timeout of the timeoutHandler, if it is set.

[2018-04-12 21:10] xtj7 commented on #71
Actually after a little investigation, it seems that the zone task is still running after the timeout was already cleared. This may be a bit trickier than it initially seemed.
scheduleTask in zone is called, clearTask is not.

I was not able to find much information on that topic and I don't have in-depth zone knowledge. So I can't really say why clearTask is not called.

[2018-04-12 21:15] odahcam commented on #71
Maybe we should open a issue on their repository and provide a demo for they to investigate with us. 🤔
Do you think it really could be a issue with zone?

[2018-04-12 21:39] xtj7 commented on #71
Yes, I could confirm that is the issue. It work as intended if replaced as per my proposal. I have updated my PR to reflect this. Using that patch I can no longer reproduce the error.
Maybe you can check if this could have any other side effects and was an intentional deviation, but I could not see any.

[2018-04-13 09:14] maroodb opened #73 "It doesn't work with Data matrix ?"
is it possible to scan data matrix code?

[2018-04-13 14:20] odahcam opened #74 "Migrate deployment from ng-packagr to @angular/elements"
#### Bug, feature request, or proposal:
proposal

#### Is there anything else we should know?
We are publishing the module trought `ng-packagr`. Angular 6 comes with new cool features, such as component deployment to WebComponents.

We should study this new feature and look for a possible migration to improve things here.

Package on NPM: https://www.npmjs.com/package/@angular/elements

[2018-04-13 22:46] odahcam commented on #71
Wow! This looks soo wrong. 😨

@werthdavid can ya take a look at this? I think the only "why" this timeout is there could be to wait for the decode to end it's first attempt.

Even if it should be there, I can refactor the two functions to work nicely together. I will to that in the future anyway. 😅

[2018-04-13 23:36] odahcam commented on #73
I don't think so. :(

[2018-04-14 09:36] maroodb commented on #73
I cant found an angular module to read data matrix :(

[2018-04-14 11:24] odahcam commented on #73
We use https://github.com/zxing-js/library to decode our scans, if you want you can migrate data matrix from ZXing and make a PR there. We would gladly accept any good contribution. 😃

[2018-04-14 11:53] xtj7 commented on #71
Once the scanner started, it will always be triggered through the timeout, so while the executed code within the `decode` method itself is synchronous, the entire `decode` method runs asynchronous in relation to the `stop` method. So it is still susceptible to race conditions.

If you run `stop` while `decode` has started, it will try to remove the timeout stored in the `timeoutHandler` (which has

[2018-04-16 11:10] odahcam commented on #71
Too much performatic, let's make it slower. 😄

That's ok David, I think we can deal with that now, also by improving the method implementation we can do some new tricks, like some 1d code reading. 🙂

I've merged #72 to develop just now. Thanks @xtj7.

[2018-04-16 11:10] #71 closed

[2018-04-17 06:16] xtj7 commented on #71
Thanks a lot guys! And also: great work on the ngx-scanner :)

[2018-04-17 18:08] rastajpa opened #76 "Is it possible remove all console.log()?"
Hello! :)

Your scanner is amazing, thank you!

But ... Is it possible that you delete all the console.log()? Because sometimes it is difficult to debug the application when another error occurs and the camera is scanning. Thanks in advance!

[2018-04-17 19:05] odahcam commented on #76
Sure it is, also, we already have none. 😅

We have just one `console.debug`.

What browser are you using? I'm sure if it is Chrome >= 58, you can disable verbose level:
![image](https://user-images.githubusercontent.com/3942006/38890572-2e714618-4258-11e8-8891-c1d9f190787d.png)

As long as we have the possibility to debug TypeScript code trought VSCode, I do think we can remove the debug method, b

[2018-04-17 19:45] rastajpa commented on #76
Yes, sure. You're right. Thanks for answer me!

I think it's not a good solution because the logs for console.debug() are still there but hidden. So, maybe it's a best solution if you comment this line for users and uncomment only when you need fix or improve somethings.

Some applications use loggers and that makes impossible to read logs.

After a few seconds I see this in console:
![bitpay_-_se

[2018-04-17 19:56] Gamboster commented on #76
Hello @odahcam Excellent work with the scanner!
I think like @rastajpa. I'm trying to use it in an important project and it's impossible because of the amount of unnecessary logs. I would appreciate if they deleted, or at least commented on the lines they print on the console. I do not want to be forced to change the scanner module, since this is the best one for angular 4 of the ones I've tested.

[2018-04-17 22:18] odahcam commented on #76
Don't worry! I just didn't knew if I would be able to make this change until v1.1, but please, that's too much log! So I'll remove it at v1.1 anyway.

[2018-04-21 08:34] odahcam commented on #38
Don't think it's really a good idea, there's too much work for now and we already provide all the info needed by the asking permission proccess. If a dev wants, he/she can wrap the observable in a timeout by their own.

[2018-04-21 08:34] #38 closed

[2018-04-23 10:43] werthdavid opened #77 "Not working with Edge"
#### Bug, feature request, or proposal:
Edge gives an error after asking for permissions

#### What is the expected behavior?
Should work as in Chrome, FF, ...

#### What is the current behavior?
Console-output
zxing-scanner askForPermission InvalidAccessError
[object DOMException]: {code: 15, message: "InvalidAccessError", name: "InvalidAccessError"}
zxing-scanner ngAfterViewInit It was not possi

[2018-04-24 06:03] werthdavid commented on #77
I've found the issue (Edge somehow only accepts null as srcObject and not undefined....).
Will be fixed in the next release

[2018-04-24 11:05] odahcam commented on #77
Dear JS
![image](https://user-images.githubusercontent.com/3942006/39183423-4dc081da-4796-11e8-9e26-7c5516aa5aeb.png)

[2018-04-24 16:09] odahcam commented on #76
Logs removed in [v1.1.0-dev.c38faf](https://github.com/zxing-js/ngx-scanner/releases/tag/v1.1.0-dev.c38faf).

Wiki not ready yet.

Please, if someone has some step-by-step on how to debug in some IDE, please make a PR. 😉

[2018-04-24 16:11] odahcam commented on #46
Fixed in #78.

[2018-04-24 16:11] #46 closed

[2018-04-24 16:12] #76 closed

[2018-04-24 16:12] odahcam commented on #77
Published in [v1.1.0-dev.c38faf](https://github.com/zxing-js/ngx-scanner/releases/tag/v1.1.0-dev.c38faf).

[2018-04-24 16:12] #77 closed

[2018-05-02 16:19] susannaHayrapetyan commented on #52
Hi, when we can use this feature? is it available now? I see it's not working for demo apps you have provided in readme.

[2018-05-03 14:14] odahcam opened #79 "Make use of rxjs to handle async decode"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
I expect a cleaner code.

#### What is the current behavior?
Code is a little hard to understand sometimes.

#### What is the use-case or motivation for changing an existing behavior?
Make the source code easier for community contributors.

#### Which versions of Angular, `ngx-scanner`, OS, TypeScript, browsers a

[2018-05-03 14:17] odahcam opened #80 "Can't bind to failed scan results"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
`CodeReader.scanFailure` to emit events.

#### What is the current behavior?
Only successful scans are emitted.

#### What is the use-case or motivation for changing an existing behavior?
This is a missing feature.

#### Which versions of Angular, `ngx-scanner`, OS, TypeScript, browsers are affected?
v1.1.0

#### Is t

[2018-05-03 19:44] odahcam commented on #80
Well, this is working as expected now, but `scanError`s are still missing. I will close this as this behavior should change with #79.

[2018-05-03 19:44] #80 closed

[2018-05-07 14:03] matteomason opened #81 "Cameras selection doesn't work on Firefox"
#### Bug, feature request, or proposal:

Bug

#### What is the current behavior?

On Firefox, after having found all the available cameras, the select box that let the user choose which device to use, doesn't show up.

![immagine](https://user-images.githubusercontent.com/28048013/39705808-c30c5c38-520f-11e8-9d0d-0137899f2085.png)

This issue still persist if I force the selection of the first ava

[2018-05-07 14:10] odahcam commented on #81
Did the browser asked you for camera permissions?

[2018-05-07 14:11] matteomason commented on #81
Yes

[2018-05-07 14:28] matteomason commented on #81
@werthdavid Yep, in the [Github-Demo](https://zxing-js.github.io/ngx-scanner/) works!

On StackBlitz the issue persist. While doing some testing on my local machine, I discovered that if I force the selection of a camera doing
[code]
and I place a QRCode in front of the camera, ZXing actually read the qrcode but on the sceen I can't see anything except the "Waiting for permissions.If your device d

[2018-05-07 14:31] odahcam commented on #81
I think this should probably be here: https://github.com/zxing-js/ngx-scanner/blob/1218a60af2a636769f81b524a01f86ccdfe36a65/src/app/modules/zxing-scanner/zxing-scanner.component.ts#L214-L244

Maybe on line 222. 🤔

[2018-05-07 14:54] matteomason commented on #81
Sorry, I can't understand... What are you suggesting?

And what are the differences between the Github-Demo and the StackBlitz example? I can confirm that the Github-Demo works great!

[2018-05-07 15:46] odahcam commented on #81
I think that the GitHub demo is running the latest stable version, while the StackBlitz is running the latest dev version.

About the code-block, I'm just annotating here to me or anyone investigate later.

The dev version is working fine within my devices so I though it was ok.

[2018-05-08 16:21] odahcam opened #83 "Create directive for using with video elements"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
Full customizable preview.

#### What is the current behavior?
#### What is the use-case or motivation for changing an existing behavior?
People has trouble to customize.

#### Is there anything else we should know?
I have no time to implement this now. 😟

[2018-05-08 17:29] odahcam commented on #83
Yes and the directive would give to the code reader it's own `ElementRef` (`HTMLVideoElement`) to be used as a preview instead of creating a new one.

There are just a few things we may need to put in a service or another class so both directive and component can use common methods; like torch control, device changing, etc.

[2018-05-08 18:11] csutorasr commented on #83
By creating a video element I meant using own or the given. (`<video *ngIf="videoElement" #videoElement></video>`)

Ping me if the blocking tasks are done.

[2018-05-08 18:16] odahcam commented on #83
All right, I will notify here when we can start coding this. Thx.

[2018-05-09 16:46] bolinkd opened #84 "css"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz reproduction is the *best* way to share your issue. <br/>
StackBlitz starter: https://stackblitz.com/fork/zxing-ngx-scanner<br/>

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions

[2018-05-09 16:46] #84 closed

[2018-05-10 22:07] odahcam commented on #70
Check permissions is not that important, camerasFound already does this job. Let's focus on the docs in future versions.

[2018-05-10 22:07] #70 closed

[2018-05-10 22:38] odahcam commented on #81
It works fine in local development.
I will consider this a StackBlitz issue until we found some other reason.

Me or @werthdavid will gladly reopen this issue if someone finds the bug reason.

Thanks.

[2018-05-10 22:38] #81 closed

[2018-05-10 22:40] odahcam commented on #81
Oh, also I debbuged in StackBlitz with FF Nightly and I couldn't find anything wrong with the component at the first look.

[2018-05-11 13:01] odahcam opened #89 "Update Angular version and dependencies"
#### Bug, feature request, or proposal:
proposal

Update to Angular 6.

#### What is the use-case or motivation for changing an existing behavior?
People should update, we have a version running on Ng5 and lower. Ng6 will bring lots and lots of improvements to us. 😄

#### Which versions of Angular, `ngx-scanner`, OS, TypeScript, browsers are affected?
Ng5, Scanner 1.2

#### Is there anything else

[2018-05-11 13:33] odahcam opened #90 "Pause scan w/o pause preview"
**Is your feature request related to a problem? Please describe.**
I want to stop scanning, but the video stills flickering on my screen, jeez!

**Describe the solution you'd like**
On the title. 😉

**Describe alternatives you've considered**
No one good enougth.

[2018-05-15 11:02] devgrigor opened #93 "Crashing entire app on IE and Edge"
**Describe the bug**
When project is opened in IE11 or Edge it's freezing on loading page. The error is at `eval('BrowserCodeReader ...')` It happens only if `ZXingScannerModule.forRoot()` was called. There is n way to even put a try catch there, because eval is happening in vendor, and even conditionally  calling forRoot() is causing the issue e.g.
[code]

**To Reproduce**
Steps to reproduce the

[2018-05-15 11:38] odahcam commented on #93
Have you tryied w/o `.forRoot()`?

[2018-05-15 12:00] devgrigor commented on #93
Not before you mentioned it, now I did and still same error. I guess it's the import not the forRoot() that matters

[2018-05-15 12:39] odahcam commented on #93
Are you using Angular 6?

[2018-05-15 16:19] devgrigor commented on #93
No. Angular 5.2

[2018-05-15 17:11] devgrigor commented on #93
1.1.0-dev06cf75

[2018-05-15 17:40] odahcam commented on #93
Could you update to the latest version ans try again?

[2018-05-15 17:41] werthdavid commented on #93
There is a (known) issue with IE11 in (zxing-library )[https://github.com/zxing-js/library/issues/7] but Edge should be working.. I can take a look tmrw

[2018-05-15 17:43] devgrigor commented on #93
I'll try to update, but I thought this is the latest version, installed about 2-3 weeks ago. @werthdavid  Edge is not working as well

[2018-05-15 17:56] odahcam commented on #93
No problem, at this moment LTS is `npm i -S @zxing/ngx-scanner@1.1.0`

[2018-05-15 18:15] devgrigor commented on #93
ok. Installed LTS, but issue still occurs

[2018-05-15 18:47] odahcam commented on #93
I think the component is trying to iterate the devices w/o devices.

[2018-05-15 18:58] devgrigor commented on #93
I'm not sure that this is the error I'm getting. My error comes from eval of 'class BrowserCodeReader' probably es6 issue, but I included all polyfills of angular and still got error. I'll try to reproduce same issue on new angular project to be more accurate in report

[2018-05-15 19:55] odahcam commented on #93
Check your `tsconfig` and look for your build targets, maybe you are building your app for modern JS only. The component shouldn't break your app at Edge at least, IE does have a problem.

[2018-05-16 09:00] devgrigor commented on #93
Small note in my vendor I see usage of
```"../../../../@zxing/library/esm5/browser/BrowserCodeReader.js"```
which is in es6 format e.g. starts with `class BrowserCodeReader`

[2018-05-16 13:31] odahcam commented on #93
Dunno if it's bad or good, but it could be a problem with the library at all. Do you re-checked Edge? It seems to be working here, I'm curious about this different behavior. 🤔

[2018-05-16 13:40] devgrigor commented on #93
Yes rechecked Edge version 20 it throws error in main.bundle.js at this code ```e.default = class{etc.}``` I actually found the `ngx-scanner/esm5/zxing-ngx-scanner.js`  that contains correct classes like BrowserCodeReader in es5 standard. I just don't understand why it's not working with that file

[2018-05-16 13:50] odahcam commented on #93
I can confirm that esm5 are es6 classes; ~damn~

![image](https://user-images.githubusercontent.com/3942006/40120962-cbfb2638-58f6-11e8-96ae-4b24e6e811d7.png)

I think this issue should be transfered to @zxing-js/library, what you think @werthdavid ?

[2018-05-16 13:58] odahcam commented on #93
Also, I noticed that zxing-ngx-scanner.js is using ES6 imports syntax while in ES5 files, this is so wrong. 👀
![image](https://user-images.githubusercontent.com/3942006/40121426-ed410d52-58f7-11e8-8d16-8c9152db0eb1.png)

[2018-05-17 05:53] werthdavid commented on #52
Can we close this now @odahcam ?

[2018-05-17 08:35] matteomason commented on #81
Hi again.

I'm just writing a little note here. Maybe in this way other people that find themself stucked with a issue like mine, can find a little help.

After a lot of testing, I discoverd the ngx-scanner works really great in most of cases but not in mine. I'm using VMWare Clarity as a HTML/CSS framework and for some reasons, the component find the devices in my pc/smarphone, but it never shows

[2018-05-17 12:50] odahcam commented on #81
Thx for the feedback @matteomason sure it will help someone. We are constantly improving the scanner se we can work great in every piece of the JS ecosystem.

[2018-05-17 13:00] odahcam commented on #52
I don't think so, because I didn't implemented anything here to use the new library's reader. Let's wait until our first 1D barcode read. :)

[2018-05-18 10:09] cre8 commented on #89
Adding the package `rxjs-compat` removes this error (similar to this one: https://github.com/angular/flex-layout/issues/693) while using angular 6.

[2018-05-18 13:55] odahcam commented on #89
Sure it does! I use it myself, thanks for adding this note.

My plan to update is to make things better at all, not because any compatibility issue.

But do you think that we shouldn't update to ng6? 🤔

[2018-05-18 23:06] odahcam opened #94 "Add object-fit control for the video element"
**Is your feature request related to a problem? Please describe.**
Users claim that the video cannot be sized.

**Describe the solution you'd like**
The object-fit control on ht etop of the component would allow users to set the video resizing method and everything would be controlled be the component itself.

**Describe alternatives you've considered**
Another issues had mentioned them: #55, #60,

[2018-05-19 17:31] cre8 commented on #89
@odahcam it would be really cool if it would work then for ng5 and ng6 since not all people have upgraded yet.

[2018-05-20 01:12] odahcam commented on #89
They can still make use of our LTS version. 🙂

At least v2 gotta be in ng6, I can't give support for a very modern tool like that with outdated dependencies.

I can also make a transition version, like 1.3 so people can update easily.

[2018-05-31 10:36] Danieliverant commented on #93
any news on that?

[2018-05-31 18:50] odahcam commented on #93
I published a dev version so the reporter could test if it solved his case, but I didn't get any feedback on that. I'm not supporting IE currently, so I would be glad if anyone test it, cause I won't test any soon because of my current project environment.

But we made some progress with the scanner issues and we certainty gonna solve it by next month btw.

[2018-06-01 06:46] devgrigor commented on #93
I tested `1.1.1-dev.ca33ea` version and it worked on IE. Thanks for that. @Danieliverant   just don't forget to add `import 'core-js/es6/typed';` at polyfills

[2018-06-01 06:50] #93 closed

[2018-06-01 17:54] devgrigor commented on #93
@Danieliverant https://www.npmjs.com/package/@zxing/ngx-scanner/v/1.1.1-dev.ca33ea

[2018-06-01 18:22] odahcam commented on #93
[code]

[2018-06-02 08:54] Danieliverant commented on #93
Thank you!! I will test it on Monday

[2018-06-05 04:58] #89 closed

[2018-06-05 05:00] odahcam commented on #89
None of our APIs changed, so you just need to upgrade to Angular 6 and than update ngx-scanner. 😄

[2018-06-05 05:03] #60 closed

[2018-06-05 13:03] csutorasr commented on #94
https://github.com/zxing-js/ngx-scanner/issues/55#issuecomment-379115091

The solution is found there. I will create a PR for this.

[2018-06-05 13:08] odahcam commented on #94
I prefer the idea of using a directive over a `<video>` element than creating a new binding on the component. If you make a directive to be used in the `HTMLVideoElement` I could gladly accept a PR. 🙂

[2018-06-05 13:09] odahcam commented on #94
I can't assign you to, but there's #83 .

[2018-06-05 14:57] csutorasr commented on #83
To set the width:

app.component.html:

[code]

app.component.ts:

[code]

app.component.css:

[code]

[2018-06-05 15:27] odahcam commented on #83
But that's not a directive. 🤔
If there's any reason would like to explain why not to use a directive?

[2018-06-05 15:28] odahcam commented on #83
I think this is **really** unecessary, because I work with the width of the preview element since the first version of the package with just SCSS. I can't understand the use case for that template thing. :(

[2018-06-06 07:44] csutorasr commented on #83
I think this needs no explaination. This is faster. Why to use a directive? How will that be better?

How do you set the width with scss without specifying cssClass (that is deprecated) or using ng-deep?

[2018-06-06 11:30] odahcam commented on #83
This is faster to code, not on runtime, we already have enough bindings at runtime. We have time to create a good thing and if you wanna "go horse" just go with `::ng-deep` which is even faster to code and causes no impact on performance.

Directives are created to do this kinda job, they're gonna be faster, cleanner and will require less code
from the user. Angular devs already know how to use di

[2018-06-06 13:05] wiedikerli opened #98 "We've built a veeeery cool Wiki (404) for you!"
We've built a veeeery cool Wiki for you!
Wiki doesnt exist anymore. I get a 404.

[2018-06-06 13:09] csutorasr commented on #83
`:;ng-deep` is deprecated, that is why we removed the `cssClass` also.

We could use [ContentChildren](https://angular.io/api/core/ContentChildren) if it is a better option for you.

[2018-06-06 13:26] #98 closed, assigned to nobody

[2018-06-06 13:37] ninjaonsafari commented on #98
When i click on the link in the readme i get the 404.
When i navigate via the tab it works :+1:

ps. why the hate against microsoft? :rofl:

[2018-06-06 16:11] odahcam commented on #98
I fixed few hours ago. 😄

ps. GitHub is great as being itself, now other ideas will enter in the company, things gonna change and GitHub will not be what it was anymore, GitHub will just be a Microsoft product. GitHub shouldn't be owned by any of the giant companies. Microsoft is also unstable in ideas, so what can we expect from future? nothing? I loved GitHub for years, now I'm not against M$, I

[2018-06-06 17:02] odahcam commented on #83
The idea behind the scanner, is that you shouldn't need to touch any element inside it, but just style the `zxing-scanner` component. `object-fit` should cover all use cases and will be a lot faster than a template binding, then we can spend time creating the directive thing or alternatives like `ContentChildren` that honestly I've never seen before.

`::ng-deep` is in fact deprecated but it is so

[2018-06-07 06:37] ninjaonsafari commented on #93
@odahcam there is still some es6 thingy left in the [GlobalHistogramBinarizer](https://github.com/zxing-js/library/blob/c6be426127ac5511ad92690d080217da8318c79e/src/core/common/GlobalHistogramBinarizer.ts#L41).

This is my version 1.2.0-dev.9e43af of the scanner.

[2018-06-07 11:18] odahcam commented on #93
Shouldn't a polyfill cover'em?

[2018-06-07 11:20] odahcam commented on #93
Oh, I see that it's from the `library` package, can we discuss that there (https://github.com/zxing-js/library/issues/7)?

[2018-06-07 13:52] ninjaonsafari commented on #93
oh gah damn...
Sorry this one's mine...
I thought I had all polyfills in place but i forgot `core-js/es6/typed`

![](https://media.giphy.com/media/evCzUJ9kVbG7K/giphy.gif)

[2018-06-07 13:54] odahcam commented on #93
Everyone makes mistakes, even ninjas. 🐱‍👤 _(ninjacat Windows's emoji)_

[2018-06-11 12:26] peterzytkiewicz opened #100 "timeout issue - this.imageElement is undefined"
When leaving component with ngx-scanner (on ngDestroy) get 'TypeError: this.imageElement is undefined';

it's cause by the fact that many setTimeouts are being created, but not being cleaned.
(@zxing/ngx-scanner/esm2015/zxing-ngx-scanner.js:186).

at least this is how I get that.
I fixed it by wrapping 'decodeWithDelay' method like below:
[code]
Well, that's just a hack, it would be better to fix

[2018-06-11 15:06] vugar005 opened #101 "Laser scanner while identifying QR code"
Hi
Thanks for great project. I would like to offer a new feature which is similar to Whatsapp QR code scanner.
While camera is identifying QR code , it would be cool to show laser from to bottom.
This would improve user experience.
Thanks!

[2018-06-11 17:00] odahcam commented on #101
This is very nice, we'd love to have this as an example! But it should not be coded into the core, the component is ment to be as simple as possible so users can just plug-and-play an then add their styles.

If you'd like to PR an **example** with this implemented, please, do it!

[2018-06-11 19:29] odahcam commented on #101
Okay, yw! I repeat, we will not mege any interface customization at the core, but we would love an customization example on top of `zxing-scanner` component at our examples. 🙂

[2018-06-13 16:12] jack750155 opened #102 "@zxing/ngx-scanner/zxing-ngx-scanner"' has no exported member 'NgxZxingComponent'."
Hello,

I tried to implemented the exemple as describe on the github page (https://embed.plnkr.co/MN4riU/).
But I always got the same probleme with my app.component.ts page, at the line:
`import { NgxZxingComponent  } from '@zxing/ngx-scanner';`

Error:
`/@zxing/ngx-scanner/zxing-ngx-scanner"' has no exported member 'NgxZxingComponent'.`

Maybe someone already had this problem and fixed it :)

tha

[2018-06-13 16:20] odahcam commented on #102
I'm afraid your `config.js` file is not right:

[code]

This seems wrong.

Also, take a look at a working example at https://minhahavan.com and https://zxing-ngx-scanner.stackblitz.io. 🙂

[2018-06-13 19:33] jack750155 commented on #102
Hello Odahcam

Im working on Angular  6 so I don't think I have an config.js file.
Do you know if I have to place you code somewhere else?
[code]

Thx :)

[2018-06-13 19:46] odahcam commented on #102
Well, the file is in the Plunkr example you sent. Now I'm confused. 😕

[2018-06-14 14:20] odahcam commented on #102
Whats the error?

[2018-06-14 22:29] odahcam commented on #79
Solved by 8a14238bd8ee801ca759185041b8ebcc59d66b4c.

But it can be improved.

[2018-06-14 22:29] #79 closed

[2018-06-14 22:31] odahcam commented on #100
Solved by 8a14238bd8ee801ca759185041b8ebcc59d66b4c because there are no timeouts anymore. 🙂

[2018-06-14 22:31] #100 closed

[2018-06-15 11:55] odahcam opened #104 "Permission on not found devices should be null not undefined"
**Describe the bug**
`undefinde` means that the permission state is unknown, `null` would describe it better as long as in this step we know the permission can't be asked, so it's `null`.

**Additional context**
scanner v1.2.0

[2018-06-15 12:43] #104 closed

[2018-06-15 14:37] ajaxsys opened #105 "Support Angular 6?"
It seams that only change one line can make it work with angular6 / rxjs6

In `zxing-ngx-scanner.js` Change

     import { BehaviorSubject } from 'rxjs/BehaviorSubject';

to

     import { BehaviorSubject } from 'rxjs';

[2018-06-15 14:45] odahcam commented on #105
It supports ng6 at v1.1.0. Also the dev version supports it too.

[2018-06-15 19:50] entspannt commented on #105
I get these warnings with angular 6...

`npm WARN @zxing/ngx-scanner@1.1.0 requires a peer of @angular/core@>= 2.0.0 < 6 but none is installed. You must install peer dependencies yourself.
npm WARN @zxing/ngx-scanner@1.1.0 requires a peer of @angular/common@>= 2.0.0 < 6 but none is installed. You must install peer dependencies yourself.
npm WARN @zxing/ngx-scanner@1.1.0 requires a peer of @angular

[2018-06-18 02:30] ajaxsys commented on #105
But i got

ERROR in ./node_modules/@zxing/ngx-scanner/esm5/zxing-ngx-scanner.js
Module not found: Error: Can't resolve 'rxjs/BehaviorSubject' in 'C:\...\node_modules\@zxing\ngx-scanner\esm5'

So i have to manually change

      import { BehaviorSubject } from 'rxjs/BehaviorSubject';

to

      import { BehaviorSubject } from 'rxjs';

[2018-06-18 02:39] odahcam commented on #105
v1.1.0 uses the `rxjs-compat` package to work properly, the `dev` version doesn't need it anymore. Also, v1.2.0 is already in Angular 6, so it's release gonna solve that problem once for all. You can still use the dev version if you don't wanna install the `rxjs-compat` package. Thanks.

[2018-06-18 02:40] odahcam commented on #102
No follow up, so closing.

[2018-06-18 02:40] #102 closed

[2018-06-19 12:59] PravJha opened #106 "using ZXingScannerComponent and not able to scan barcode. Only QR code is working"
I am using zxing-scanner. However I am only able to scan QR codes successfully. I am not able to scan Barcode. Please,  I need help on this immediately. Since I have already existing Angular 5 app. I cannot use Cordova or Ionic Framework. My application should scan UPCs or 1D barcodes. Pleas elet me know what changes should I make for this to work.

Here is what I have used my **app.component.html

[2018-06-19 13:49] ScienceOfficer opened #107 "Error if scanner.resetScan() is called"
**Describe the bug**
If I try to call scanner.resetScan() inside the Method which is called on scanSuccess, I get the following error:

ERROR TypeError: Cannot read property 'naturalWidth' of undefined
    at BrowserQRCodeReader.push../node_modules/@zxing/ngx-scanner/esm5/zxing-ngx-scanner.js.BrowserCodeReader.prepareCaptureCanvas (zxing-ngx-scanner.js:191)

**To Reproduce**
I tried to reproduce m

[2018-06-19 15:08] odahcam commented on #107
StackBlitz is with some problem when installing our Angular 6 dependent version because of some third-party dependency. 😠

The issue is here: https://github.com/zxing-js/ngx-scanner/blob/d61290aec823512d72a838b3a4fdab017b968fa6/src/app/modules/zxing-scanner/browser-code-reader.ts#L346-L347

Should be fixed in the next version. Thanks!

[2018-06-19 15:12] odahcam commented on #106
We rely on https://github.com/zxing-js/library which doesn't supports UPC decoding. 😞

I cannot implement that for ya now, but you can still PR there the UPC port.

[2018-06-19 15:12] #106 closed

[2018-06-19 15:15] PravJha commented on #106
It does not even support nay barcode. I tried using 128 barcode but it also was not scanned. Can you list for me which barcode formats it cab be reading. For now it scans only QR code.

[2018-06-19 15:26] odahcam commented on #106
Yes, it scans only QR code, at the time of writing our core wasn't able to scan other formats of barcodes, we'r working to bring our core decoders as options, so you can use all scanning features, but for now we can scan only QR codes. PRs are always welcome.

[2018-06-20 12:37] vaibhav16 opened #108 "Can't serve the project!"
Apart from a few peer dependencies being skipped, the project overall installed easily with "npm install"
However, I'm getting an error when I try to run "ng serve".

[code]

Any ideas how to handle this?

[2018-06-20 12:48] odahcam commented on #108
Yas, just `npm i zone.js`. 😉

[2018-06-20 12:48] #108 closed

[2018-06-20 12:49] werthdavid commented on #108
Also you should run from the root-directory and not "src"

[2018-06-20 14:57] ajaxsys commented on #105
Thanks for your answer. Waiting for v1.2.0.

[2018-06-20 16:54] #105 closed

[2018-06-20 19:58] ScienceOfficer commented on #107
Great, thank you!

[2018-06-22 05:47] jainAdijain opened #110 "Camera not closing when exiting qr scanner in ionic application"
Using the module in ionc-angular application,
The camera stills open and not geting closed.

**.html**

[code]

[2018-06-25 13:42] tomcheney opened #113 "Not working in iOS 11.4"
**Describe the bug**
In Safari with iOS 11.4 camera can be selected but no preview is drawn and there is no result

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://zxing-js.github.io/ngx-scanner/
2. Allow camera access
3. Select front or rear camera
4. Nothing happens

[2018-06-25 16:28] odahcam commented on #113
Have you tryied to run with the LTS version?

[2018-06-27 01:36] odahcam commented on #110
Can you provide information about Angular and the package? Or some part of the package.json?

[2018-06-27 01:37] #107 closed

[2018-06-27 04:03] jainAdijain commented on #110
Below is some part of my `package.json`

[code]

[2018-06-27 12:33] odahcam commented on #110
Intrigating, can you update the `"@zxing/ngx-scanner": "^1.0.2"` to `"@zxing/ngx-scanner": "^1.1.0"` and try again?

[2018-06-28 04:58] jainAdijain commented on #110
Hi, updated the version number as you mentioned. when leaving the qr scanner page without scanning the camera is not getting off now too.

[2018-06-28 22:19] odahcam commented on #110
Link offline. 🙁

[2018-06-29 02:14] jainAdijain commented on #110
I might be I was sleeping, the timezone does not match with us try using https://clevert.me
If this dont work then we will be mactching our timezones. :)

[2018-06-29 09:51] SandeepThomas commented on #105
Please release 1.2.0 soon, or update 1.1 to Angular 6. Thanks

[2018-06-29 16:32] odahcam commented on #105
We're working to release it ASAP.

[2018-06-30 20:18] odahcam commented on #110
Seems that when switching tabs, the previous tab is not destroyed by Ionic, you gotta track what events are being triggered and pause yourself the scanner. Unfortunatelly the scanner can't know when the tab is actived or not. I will close as this is not a scanner's bug or something, but feel free to keep discussing the ideias.

[2018-06-30 20:18] #110 closed

[2018-07-05 09:50] jainAdijain opened #115 "The module includes text-encoding which bloat the size"
Using ` "@zxing/ngx-scanner": "^1.1.0"` in ionic-angular application.
The source maps of a module which uses qr scanner displyas as follows:

![image](https://user-images.githubusercontent.com/27722458/42316112-9b459b8a-8066-11e8-99fe-19ed58a807bf.png)

It includes text-encoding without this the production build is not made.
How to fix this - it affects largely in terms of performance.

[2018-07-05 12:48] odahcam commented on #115
I'm working on that for a while, seems that some decoders doesn't work without text encoding features, but as JS only supports UTF-8, there's gotta be something we can do, I just couldn't remove it yet. Any help would be appreciated.

[2018-07-06 12:40] nikhilsyam opened #116 "how to improve scanner power"
it is not working when scanning the QR code under light

[2018-07-06 19:02] odahcam commented on #116
That's too broad, there's lot's of things that can be done, but this is to much for one answer, and of course it will depend on the camera and the illumination. 😕

[2018-07-06 19:02] #116 closed

[2018-07-06 23:00] odahcam commented on #115
Oh, I was already tracking this, please follow https://github.com/zxing-js/library/issues/54 for more info, thanks!

[2018-07-06 23:00] #115 closed

[2018-07-07 08:59] nikhilsyam commented on #116
I am also agreed with you @odahcam , but the thing is when in dark area the image processing is very slow.

[2018-07-07 11:19] odahcam commented on #116
Sorry, but are you telling me that you know how to improve?

[2018-07-08 06:10] nikhilsyam commented on #116
No @odahcam

[2018-07-10 20:29] mhosman opened #117 "Update dependencies in order to support Angular 6"
[code]

[2018-07-11 03:32] odahcam commented on #113
Closing due to no follow up.

[2018-07-11 03:32] #113 closed

[2018-07-24 09:06] DanielHabenicht opened #118 "Remove rxjs-compat and properly update to a newer rxjs version"
**Describe the bug**
rxjs/compat is a package meant to provide an easy way to upgrade to a newer rxjs version. It provides backwards compatibility in order to run rxjs 5 and 6 code in parallel.
Including rxjs in your bundle greatly effects the bundle size [and is not recommended](https://github.com/ReactiveX/rxjs/blob/master/docs_app/content/guide/v6/migration.md#backwards-compatibility).

**Expec

[2018-07-24 10:39] odahcam commented on #118
It's already done, but we didn't publish it yet, there's a few things we gotta do first.

I'm closing it as a dupe of #117.

Thanks for the report and please subscribe to #119 (or v1.2.0 milestone) for more info. 😉

[2018-07-24 10:39] #118 closed

[2018-07-24 22:12] DanielHabenicht commented on #118
Ohh, ok. My bad. I've just seen this [PR](https://github.com/zxing-js/ngx-scanner/pull/86) recently. As I viewed it again now I also see that it never went through.
Sry!

[2018-07-24 22:15] odahcam commented on #118
No problem, thanks for contributing!

[2018-07-27 20:07] danielehrhardt opened #120 "Barcode or QR Code?"
i am not able to scan Barcodes like
![image](https://user-images.githubusercontent.com/19570043/43344220-50b7b596-91e9-11e8-9c17-ea11eb0901a2.png)

but you write here
![image](https://user-images.githubusercontent.com/19570043/43344265-63511fe4-91e9-11e8-8e25-18ad2975bf2a.png)

so what can we scan?

[2018-07-27 22:52] odahcam commented on #120
At v1.1.0? QR codes
At v1.2.0? Everything our base library does.

[2018-07-27 22:52] #120 closed

[2018-07-27 23:03] odahcam opened #121 "Format code up to Angular Guidelines"
Nothing exceptional, just some indentation job.

I personaly don't like 2 spaces indentation, but's the guidelines.

[2018-07-27 23:08] #121 closed

[2018-08-01 06:02] ajaxsys opened #122 "Detect qr code within certain rectangular area of camera"
**Is your feature request related to a problem? Please describe.**
Hi, it is difficult while scanning one of many qr codes in same page(e.g. https://goo.gl/LZ6Sx3).

**Describe the solution you'd like**
Is it posible to detect qr code within certain rectangular area of camera(not the whole camara)?
Image like:
https://i.stack.imgur.com/lMxRq.jpg

Thank you.

[2018-08-01 11:01] odahcam commented on #122
Not yet. 😞  Some folks has done it for the `BrowserCodeReader` in the library package, they implemented a method override where they crop the image stream before sending it to the decoder method. But here we didn't done anything like that yet.

[2018-08-01 14:45] odahcam commented on #122
I'll have to search for it, I'll post here ASAP, you're also welcome to the Gitter chat. 🙂

[2018-08-02 07:01] thanhphuocdang opened #123 "SCRIPT438: Object doesn't support property or method 'from'"
**Describe the bug**
When I run Project be used ZXingScannerModule, I got this error.
I did try with new project Angular6.1.0 and IE11 on windows.
I also got this problem when try with IE on Android 5.1 Lollipop and Apk run on this android.
When I remove ZXingScannerModule out of module, It is running well but I can't use scan barcode feature! 🍡
It has resolved or new?
ngx-scanner 1.2.0
library0.7

[2018-08-02 07:25] thanhphuocdang commented on #123
I found it at @GlobalHistogramBinarizer
private static LUMINANCE_BITS = 5;
    private static LUMINANCE_SHIFT = 8 - GlobalHistogramBinarizer.LUMINANCE_BITS;
    private static LUMINANCE_BUCKETS = 1 << GlobalHistogramBinarizer.LUMINANCE_BITS;
    private static EMPTY = Uint8ClampedArray.from([0]);
From @xzing-scanner/library

[2018-08-02 16:06] bm2112 opened #124 "handleQrCodeResult Not Being Called on Scan Success"
**Describe the bug**
I'm integrating this website into an ASP.NET project I am working on and I am trying to redirect to another url when a scan is successful. I added a couple lines of code to the handleQrCodeResult method, and I have a breakpoint there in VS 2017. However, even when the scan is successful the method is not called. I haven't changed any of the code in app.component.html. I am dep

[2018-08-03 13:21] hoangnguyen208 opened #125 "Your browser does not support this feature, please upgrade it."
#### Bug, feature request, or proposal:
I use angular 6 with the latest version of this library. I tried on several popular browsers with latest versions too, but no video camera shows up like in the demo. I inspected the element and below video element, it shows the texts 'Your browser does not support this feature, please upgrade it.'.

#### What are the steps to reproduce?
Here is the screensho

[2018-08-03 17:00] odahcam commented on #125
Does the demo works with the same browsers you tested?

[2018-08-03 18:06] hoangnguyen208 commented on #125
Yes, I meant the demo works fine, but when integrating into my angular app, the camera does not show. Do you know what the root cause is?

[2018-08-05 19:00] odahcam commented on #125
In your print I can see autoplay set to `false`, so I think that's the cause, you gotta start the camera stream / scanner by yourself.

This is a text shown in the rendered document when the browser dosn't supports the `video` tag, written by ourselves. You just found it in the source, there's nothing wrong.

I will close as this isnot a bug, but I'm still able to help.

[2018-08-05 19:00] #125 closed

[2018-08-06 00:33] odahcam commented on #123
Sorry, I didn't understand very well what you're saying. But can you try to delete de `node_modules` folder and `package.lock` or `yarn.lock` file and install our modules again? Strange errors use to happen when npm handles upgrades with a lot of changes.

[2018-08-06 06:48] hoangnguyen208 commented on #125
But in your demo, camera still plays and I checked the `video` element that is : `<video class="customClass" autoplay="false" muted="true" playsinline="true" autofocus="true"></video>`

[2018-08-06 06:53] thanhphuocdang commented on #123
I try to run with new project but look like ZXingmodule still not access any devices (camera).
 - Angular 6.1.0 vs IE11. Safari on IP5 is too.

However it is running well on chome and firefox latest version.
Iam just testing it. If you would not support for this old browsers, dismiss that.

[2018-08-06 12:56] bm2112 commented on #124
This is my first time working with AngularJS but when I posted this I was just trying to change the code in app.component.ts and then run the application. I realized that I needed to rebuild the bundles with the new code, so I did an "ng build --prod", but now I am getting this error when running the site from IIS: "ERROR TypeError: "e.map is not a function".

I have the main bundle and the app.co

[2018-08-06 18:14] odahcam commented on #125
All right, please try to download the demo and execute it locally.

[2018-08-06 18:15] odahcam commented on #123
We have to include some polyfill for old ones, are you including them?

[2018-08-07 06:34] hoangnguyen208 commented on #125
I just tried, then it threw an error: `formats.map is not a function
    at ZXingScannerComponent.set [as formats] (zxing-scanner.component.ts:91)`

[2018-08-07 11:45] Luukschoen opened #126 "Cannot properly close videostream due to error"
**Describe the bug**
First of all, thanks for all the hard work you guys have put in the scanner! It works awesome.

If I scan something and then try to destroy the video element (to stop the stream) I'm ending up getting this error:

Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The provided value is not of type '(CSSImageValue or HTMLImageElement or SVGImageElement or HTMLVideoEle

[2018-08-07 16:46] bm2112 commented on #124
I figured it out on my own. I just added that line in the main bundle after I did a ctrl-F for "handleQrCodeResult" since I couldn't get it to build without errors.

[2018-08-07 22:50] odahcam commented on #125
I think it is something with your local development environment, the same source is building fine at Travis and on my machine. 🤔

[2018-08-07 22:51] odahcam commented on #125
Ah, `formats.map` is a way to discover/create hints to the decoder to increase decoding speed and chances to get a successful scan.

[2018-08-07 22:53] odahcam commented on #126
Have you tryied to run the `stop` method from the scanner component before destroying the HTML element?

[2018-08-07 23:05] odahcam commented on #124
I see, did you install `@zxing/ngx-scanner` throught `npm`?

[2018-08-08 06:29] hoangnguyen208 commented on #125
Yes, you are probably right, I tried on another machine, it works well. Thank you so much for your help

[2018-08-08 13:58] bm2112 commented on #124
Yes, I did. I'm currently just editing the main bundle to suit my application's needs right now, and I realize there has to be a much easier way.

[2018-08-08 17:02] moleisking opened #127 "Can't bind to 'device' since it isn't a known property of 'zxing-scanner'."
**Describe the bug**
It related to the following line as I have tried to copy your example on plunker.

` <zxing-scanner #scanner start="cameraActive" [device]="devicex" (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>`

[code]
  ionic 3
  android 7.1.1
  browser 5.0.3
  cordova 8.0.0

[2018-08-08 20:14] odahcam commented on #125
You are welcome, get in touch if something else happens, and feel free to join us on Gitter.

[2018-08-08 23:48] odahcam commented on #127
Please provide your `@zxing/ngx-scanner` version. 🙂

[2018-08-08 23:54] odahcam commented on #124
Sorry, I'm a little confuded here. 😅

Our first time with Angular is always a little mess, so don't worry about any strange thing happening.

You can still get in touch with us for solving errors, we help as much as we can, feel free to join our Gitter chat.

Cya.

[2018-08-08 23:54] #124 closed

[2018-08-08 23:58] odahcam commented on #123
I didn't tested IE for a while, so I can't say much here. But the method from probably is not available because IE doesn't supports `Uint8ClampedArray`, so you gonna need some extra `core-js` polyfill, be sure you included everything you need.

[2018-08-09 10:34] Luukschoen commented on #126
@odahcam how do I actually call that stop method? Since I can't seem to find it anywhere (or I'm looking in the wrong place :-))

[2018-08-09 11:04] odahcam commented on #126
Follow the example:

[code]

🤠

[2018-08-09 11:09] Luukschoen commented on #126
Well sounds reasonable, but It's telling me that the method doesn't exist. Could it be a versioning thing? I'm currently on version 1.2.0.

[2018-08-09 11:51] odahcam commented on #126
Oh damn! You're right, give a try to `resetScan`.

[2018-08-09 12:38] Luukschoen commented on #126
It's actually giving me the same error and it doesn't stop the stream (as you would expect).

[2018-08-10 10:31] moleisking commented on #127
"@zxing/ngx-scanner": "^1.2.0",
  "@zxing/library": "^0.7.0",

[2018-08-10 12:03] Luukschoen commented on #126
I'm noticing that if I actually do get a scan result, everything seems to work fine. No errors whatsoever.

[2018-08-11 04:11] odahcam commented on #127
Don't you have any output, error log or something else?

[2018-08-11 14:27] Jutosa opened #128 "formats.map is not a function"
**Describe the bug**
I cloned and ran the repository and get an error saying that formats.map is not a function. The application then stops and the device list remains empty.

I assume this has to do with
`<zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" formats="['CODE_39', 'CODE_128', 'QR_CODE']"></zxing-scanner>`

When I remove formats, th

[2018-08-12 01:34] odahcam commented on #128
That's very strange, `formats` should be an `array`.  🤔

I'll try it.

[2018-08-12 01:49] odahcam commented on #128
I found the error, looks like I wrongly binded the formats attribute in the template. Your solution is very valid. Thanks. :)

[2018-08-13 20:26] moleisking commented on #127
ERROR Error: Uncaught (in promise): Error: Template parse errors:
Can't bind to 'device' since it isn't a known property of 'zxing-scanner'.
1. If 'zxing-scanner' is an Angular component and it has 'device' input, then verify that it is part of this module.
2. If 'zxing-scanner' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this messa

[2018-08-13 23:57] odahcam commented on #127
This looks like a user-code error, me myself had to deal with errors like this several times. Probably you forgot to include the `ZXingScannerModule` in your feature module. Please review your app to make sure you're not forgeting anything. 🙂

[2018-08-14 21:02] odahcam commented on #128
Well, it is fixed, I just didn't released it yet.

[2018-08-24 12:06] mathudak commented on #126
Getting the same error here? Any chance it'll be fixed soon or have someone found some workaround?
Thanks for the scanner guys, even with this error it works really fast.

[2018-08-24 14:05] odahcam commented on #126
That's probably because of the stream I've implemented in the latest releases, before that the scanning stream was recursive and I'm pretty sure I gonna have to reimplement something like that again.

[2018-08-29 00:30] #128 closed

[2018-08-29 11:36] linusbrolin commented on #122
Is there any reason for why BrowserCodeReader is re-implemented in ngx-scanner instead of just extended from zxing-js/library?
In library, a protected drawImageOnCanvas method was created, so that it could be extended to allow for example custom cropping functionality to be added by extending it.
But since ngx-scanner does not extend BrowserCodeReader from library, we lose that feature here. :/

[2018-08-29 19:49] odahcam opened #130 "Add hints support"
**Describe the solution you'd like**
`hints` are very usefull, once they can enable nice features in the decoder, like tryHarder which, for example, can decode 1D barcodes in 90degs.

**Describe alternatives you've considered**
None.

**Additional context**
The `hints` can be implemented the same way `formats` are.

[2018-08-29 19:50] odahcam commented on #127
If there's any question yet, feel free to ask.

[2018-08-29 19:50] #127 closed

[2018-08-29 19:53] odahcam commented on #123
As in the `polyfills.ts` file:

[code]

[2018-08-30 17:36] abu123raihan commented on #81
Working on my local but not in domain

[2018-09-03 01:38] bestbelief opened #131 "Excuse me, how can I quote this library in the angular project, thank you."

[2018-09-03 12:38] odahcam commented on #131
What you mean with example? This is not just an example, it's a module/package you install in your application.

[2018-09-04 09:30] bestbelief commented on #131
Thank you. I am a rookie. So I just saw README before, I don't feel very detailed and I don't know how to use it. I saw Wiki just now, I feel much better.

[2018-09-04 11:54] odahcam commented on #131
Nice! I'll be closing this for now, feel free to open new issues or get in touch in [Gitter](https://gitter.im/zxing-js/ngx-scanner). 🙂

[2018-09-04 11:54] #131 closed

[2018-09-05 06:03] bestbelief opened #132 "Hello, how do I limit the scanning area to the central part, not the full screen?"

[2018-09-05 09:13] bestbelief commented on #122
@ajaxsys Hello,Have you solved this problem? I am also full screen scan now. I want to sweep the code collection area only in the center part. Thank you.

[2018-09-05 15:32] odahcam commented on #132
Currently we do not support that here, but you can build your own scanner using the base library (https://github.com/zxing-js/library) that supports this behaviour,

[2018-09-05 15:32] #132 closed

[2018-09-07 13:08] ajaxsys commented on #122
@bestbelief
I fix this problem by create a dynamic canvas(crop a square area) for BinaryBitmap.
It's not the best way, but works.

Sample code(a bit dirty):

https://gist.github.com/ajaxsys/cf18c534e1455c737278c74770edc9be

[2018-09-10 07:02] bestbelief commented on #122
@ajaxsys      Thank you for your reply, though the link you gave is not open.

[2018-09-10 07:28] bestbelief opened #133 "How do we get permission from users to use cameras?"
I'm sorry to disturb you again. How do you get permission from users to use the camera? I looked at your code carefully, but I still couldn't read it. I hope you can give us some guidance.

[2018-09-10 11:32] bestbelief commented on #133
ok,thank you verymuch!

[2018-09-10 12:09] odahcam commented on #133
Just to make things clear, the component itself asks the user for permissions the time it tries to start scanning, that should be automatic for you 😄

[2018-09-10 12:09] #133 closed

[2018-09-11 17:00] lolaswift opened #134 "Failed to build ionic PWA with --prod flag"
**Describe the bug**
The package worked great in development but when build for release. Error occurred:

$ npm run ionic:build --prod

[18:50:42]  ionic-app-scripts 3.1.2
[18:50:42]  build prod started ...
[18:50:42]  clean started ...
[18:50:42]  clean finished in 9 ms
[18:50:42]  copy started ...
[18:50:42]  deeplinks started ...
[18:50:43]  deeplinks finished in 268 ms
[18:50:43]  ngc started

[2018-09-11 17:47] odahcam commented on #134
This looks like RxJS error, what's the version of @zxing/ngx-scanner are you using?

[2018-09-11 18:18] lolaswift commented on #134
@odahcam , thanks for your quick response.
I am using the latest version @zxing/ngx-scanner@1.2.1.
Indeed, it was RxJS error. I made the following change to the esm5/zxing-ngx-scanner.js and the error was gone:
import { BehaviorSubject } from 'rxjs/BehaviorSubject';
import { Observable } from 'rxjs/Observable';
It's the rxjs 5.5.2 syntax. I use rxjs 5.5.2 in my ionic 3.9.2 project. I noticed that

[2018-09-11 19:55] odahcam commented on #134
Thanks @lolaswift , we're glad we can help that much! 😄

About the RxJS error: the scanner version you're using is 100% compatible with Angular 6 and RxJS 6, which means that Angular 5 and RxJS 5 won't work properly, because there were lots of breaking changes. Depending on your needs I would recomend you to upgrade to Angular 6, in case you need the most recent features from the scanner, or downg

[2018-09-12 15:34] odahcam commented on #134
I'm sure that v1.1.0 runs on RxJS 5.5 so that one should be good to go. :)

[2018-09-13 02:40] ajaxsys commented on #122
@bestbelief It's a public gist...

[2018-09-13 13:17] bestbelief commented on #122
OK, I think it's possible to restrict access elsewhere. Thank you for your reply.

[2018-09-13 21:53] lolaswift commented on #134
@odahcam Great! Really appreciated!!. Please keep up the great work.
Can you please close the issue?

[2018-09-14 01:00] bestbelief commented on #122
I think so. It seems that I need to find out why.

[2018-09-14 14:06] odahcam commented on #134
Of course! Thx for the patience! In any trouble, please get in touch again.

[2018-09-14 14:06] #134 closed

[2018-09-14 14:09] odahcam commented on #122
Good luck then. 🙂

[2018-09-14 16:07] odahcam opened #135 "The component is not notifying any failure or error event on stream"
**Describe the bug**
As title says, plus this occours because some `catchError` in the `browser-code-reader` is suppressing the exception visibility from the scanner component.

**To Reproduce**
Steps to reproduce the behavior:
1. Just try with the demo.

**Expected behavior**
Events to be notified.

**Desktop (please complete the following information):**
 - OS: any
 - Browser any
 - Version 1.2

[2018-09-20 03:43] odahcam commented on #130
Done in #136

[2018-09-20 03:43] #130 closed

[2018-09-23 18:07] acarbonellb opened #138 "Return Promise or Observable in methods that access the hardware"
**Is your feature request related to a problem? Please describe.**
Some methods like scan(), changeDevice(), etc, don't take effect in an instant fashion due to hardware access. For example, when changing the device (i.e. toggling front/back camera), there is a gap of time between the method returning and the actual video being displayed, so in code we're unable to determine _when_ the "whole" act

[2018-09-23 18:48] PaulAhuevo commented on #125
Hi, I experience the same problem (Angular6). Did someone find a way to fix that problem?

[2018-09-24 01:56] acarbonellb commented on #138
I've workarounded this by listening to the `HTMLElement.onloadedmetadata` event, like this:

[code]

This also works when changing cameras.
Feels a bit hacky, tho.

[2018-09-24 01:59] acarbonellb commented on #138
I've workarounded this by listening to the `HTMLElement.onloadedmetadata` event, like this:

[code]

This also works when changing devices.
Feels a bit hacky, tho.

[2018-09-24 11:28] odahcam commented on #125
Please, provide OS, Browser and library verions.

[2018-09-24 11:34] odahcam commented on #138
While I agree with all you said, I must say that the animation should not live here inside the component, of course animations are cool, but it's not the focus of this component, you should be able to implement your own animations on the top of our API, so maybe we should do some work on that API to make it possible instead of forcing every user to have some choosen-by-us animation inside its proj

[2018-09-24 11:38] odahcam commented on #138
Also, I forgot to say that I'm aware of this problem and I'm working to achieve this in every version, but I couldn't get there yet. That said, if you wanna make a PR then we would be very thankful. Thanks for the issue btw.

[2018-09-24 11:52] acarbonellb commented on #138
Of course animations are independent of this component! I agree with you. Maybe I didn't explained myself well:

My request was for a mechanism to notify when the video is ready, *only that*, so we can implement our own callbacks based on that event, including but not limited to animations. Animations was only an example of things we could do in our own UI when listening to the events of this comp

[2018-09-24 11:57] odahcam commented on #138
![](https://i.imgur.com/0AXlBTh.gif)

Just do the PR then, I can fix any breaking change.

[2018-09-24 20:11] PaulAhuevo commented on #125
Version: "@zxing/ngx-scanner": "^1.2.1",
OS: MacOS
Browser: Chrome / Firefox / Safari, each latest version

[2018-09-24 20:48] PaulAhuevo commented on #125
High Sierra, 10.13.6.

![image](https://user-images.githubusercontent.com/24651513/45978195-90d4b100-c043-11e8-9ab8-b5629469f05b.png)

[2018-09-24 21:01] odahcam commented on #125
Please take a look at https://github.com/zxing-js/ngx-scanner/issues/125#issuecomment-410540442 I think it's the same case.

[2018-09-24 22:20] acarbonellb commented on #125
Hello.

Suddenly not a single app that uses camera works under `Chrome 69.0.3497.100` in `MacOS 10.13.6` (my setup). I've tried a bunch of random websites that uses the camera and not a single one works:

https://hangouts.google.com
https://web.whatsapp.com/
https://webrtc.github.io/samples/src/content/getusermedia/gum/ ("official" test)

Here is the live demo from this repo -- same result :(
http

[2018-09-24 22:50] odahcam commented on #125
Working on Chrome 71.0.3558.0 and 71.0.3560.0 and MacOS 10.13.6. Safari is working fine btw. We can investigate this if you want, but we should go to another issue to discuss that, since this issue here has nothing to do with the real possible problem.

[2018-09-25 08:12] acarbonellb commented on #125
Working now. Please check if your computer is not up for like a month like mine was. A stupid reboot and all working now. Rookie basics...

@odahcam sorry for wasting your time, and thanks for your help. Case closed for me.

[2018-10-03 16:20] melpadden commented on #126
I'm having he same error, when calling resetScan() as well. I've tied unsubscribing from all events, setting the scanner's device property to null, but to no avail. Any ideas? I'm hosting the scanner in a modal dialog. What I want to do is stop the scanner once it receives a code, close the dialog and return to the parent component.

[2018-10-07 13:13] redplane commented on #123
I have the same issue with `IE 11` - `Angular 6`

[2018-10-08 17:18] odahcam commented on #123
Thanks @redplane , as it was just a missing polyfill, I'm closing. :)

[2018-10-08 17:18] #123 closed

[2018-10-10 12:29] renatomullerventura opened #139 "Resize area of searching for QRCode"
Hi.

I've been working on a project to search prices in a physical showcase using qrcode on each product. I realized that in one page there are so many qrcode that I can't scan just one without my camera loosing focus/blurring.

When I get the camera close to the codes, it blurs, when I pull away it gets more than one qrcode and it doesn't work.

Is there a chance/way to resize the scan area to ge

[2018-10-10 16:03] odahcam commented on #139
Yes, you can crop the video stream. But no, I don't think our component supports that at this moment. Some months ago, some folks have done that with the base library, so I know you can do that with our code, but I think that this is not possible yet with the component.

We could implement some injection token for the `MultiformatCodeReader` so you could implement your own code reader (maybe by ex

[2018-10-10 16:04] odahcam commented on #139
This is a duplate of #122 BTW, so I see you there.

[2018-10-10 16:04] #139 closed

[2018-10-10 16:08] odahcam commented on #122
As I said in #139:

The base library and the crop as implemented there: https://github.com/zxing-js/library/issues/39

[2018-10-12 13:30] AndyTUYR opened #140 "IOS12 iphone/ipad"
There seems to be an issue on IOS12 when the scanner is reset and started again that qr codes are no longer detected. (replicated on numerous iphones and ipads with IOS12 installed)

This can be replicated in the demo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://zxing-js.github.io/ngx-scanner/
2. Select a camera
3. Scanning Qr codes works
4. Toggle scanning off and then on

[2018-10-13 13:31] mattiaskagstrom opened #141 "Unable to scan Data matrix on the back of Swedish driverslicenses"
**Describe the bug**
Unable to scan Data matrix

**To Reproduce**
Steps to reproduce the behavior:
try to scan
![image](https://user-images.githubusercontent.com/3661126/46906020-d70f8880-cefc-11e8-81c3-c1ffe3cccd35.png)

on demo page (or in you own app) https://zxing-js.github.io/ngx-scanner/

**Expected behavior**
The value should be outputted

**Desktop (please complete the following informatio

[2018-10-14 22:58] odahcam commented on #141
I'm afraid the DataMatrix reader was disabled on the demos.

![image](https://user-images.githubusercontent.com/3942006/46923240-87f45100-cfeb-11e8-9985-17b75b05d4fa.png)

Was this the expected result?

[2018-10-14 23:01] odahcam commented on #140
I experienced something similar to that. I'm rewriting the continuous scanning algorithm, so I expect to fix this the next patch. :)

[2018-10-15 08:17] mattiaskagstrom commented on #141
Yupp, and im able to scan my card in the stackblitz demo aswell. issue may be marked as solved.

Is there anything special i need to do to activate it in my own code?

[2018-10-15 12:12] odahcam commented on #141
By default only the QR code decoder comes enabled, there's some options to enable the others, I think the most simple is this one:

[code]

As you can see, you can use the `formats` property to achieve that.

If you want to read more: https://github.com/zxing-js/ngx-scanner/pull/112#issuecomment-403974038

Good luck! 🍻

[2018-10-15 12:12] #141 closed

[2018-10-15 12:53] mattiaskagstrom commented on #141
Great!

Could you add that to: https://github.com/zxing-js/ngx-scanner/wiki/Getting-Started and/or https://github.com/zxing-js/ngx-scanner/wiki/Advanced-Usage ??

[2018-10-15 13:19] odahcam commented on #141
Of course: https://github.com/zxing-js/ngx-scanner/wiki/Getting-Started#choosing-what-decoders-to-run

*I should've already added that before anyway.*

[2018-10-15 13:36] mattiaskagstrom commented on #141
Thats why I thought it didn't work when I added <zxing-scanner></zxing-scanner> to my app ;)

is there a list of all avalible formats?

[2018-10-15 14:31] odahcam commented on #141
Yeah! This feature relies directly on the ZXing's core, so you can find it here: https://github.com/jojastahl/library/blob/master/src/core/BarcodeFormat.ts

[2018-10-15 15:54] mattiaskagstrom commented on #141
Sweet, you have made my monday :D

[2018-10-16 10:37] benceHornyak commented on #126
Having the same problem.

Tried resetScan() as well.

[2018-10-16 11:59] odahcam commented on #140
This is probably related to #126.

[2018-10-23 14:53] JKing-B16 commented on #126
I'm having the same problem. The issue appears to originate with the "decodeWithDelay" being called after the video/image container have been removed by Angular. Adding a simple check for the presence of these elements seems to remove the error. See my patch below:

[code]

[2018-10-23 18:32] mrz5018 opened #144 "createObjectURL soon to be deprecated for media streams"
**Describe the bug**
Looks like one of the methods used is going to be deprecated (as per the Chrome inspector):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Nothing in particular, just have a `zxing-scanner` in a template.

**Expected behavior**
Just need to do what the

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2018-10-24 11:55] odahcam commented on #144
This problem lives in this method:

https://github.com/zxing-js/ngx-scanner/blob/d4a0c32c4aae2bc43355162b761c50ffc48a5792/src/app/modules/zxing-scanner/browser-code-reader.ts#L170-L179

As you can see, it should be only used as a workaround/fallback for browsers not supporting `srcObject`.

Now I think that if we remove that, we gonna lose the fallback and also the support for older browsers, or a

[2018-10-24 11:58] odahcam commented on #126
That makes sense, I'm rewriting the decode stream methods, so it should be fixed soon.

[2018-10-25 02:11] mrz5018 commented on #144
You're right, that is a good idea to keep in as a backup for old browsers.  In attempting to recreate my issue again, I think I got to the root cause of my warning.

My browser does implement `HTMLMediaElement.srcObject`, but the warning occurs when I destroy the component while `bindVideoSrc()` is running.  It looks like the async call of `startDecodeFromStream()` runs after the component is dest

[2018-10-25 11:45] odahcam commented on #144
I'm trying yo eliminate those "`callback`" parameters and make everything Promisible, but I agree that in some places Observables does apply better than Promises. Before changing the returned object, I think we should get rid of that callback to have a better perspective of what the function does and needs.

Maybe for the solution, intead of checking for the `this.videoElement` we could just call

[2018-10-25 18:24] odahcam opened #145 "Build package w/ Angular architect and drp ng-packagr"
**Is your feature request related to a problem? Please describe.**
ng-packagr is blocking the Angular 7 upgrade.

**Describe the solution you'd like**
Build the project w/ library output using the Anlar architect.

**Describe alternatives you've considered**
Upgrading ng-packagr, but it is taking so much time to support what we need.

**Additional context**
Angular architect seems to be faster and

[2018-10-31 09:04] alijohn opened #147 "401 Unauthorized when trying to install the package"
Hi mate,

Thanks you for this wonderful library. I was trying to have a go and install the package via

'npm i @zxing/ngx-scanner@latest --save'

And I am getting

npm ERR! code E401
npm ERR! 401 Unauthorized: @zxing/ngx-scanner@latest

Help!!

[2018-10-31 10:15] alijohn commented on #147
Please ignore or delete - User error :(

[2018-10-31 10:15] #147 closed

[2018-10-31 11:53] odahcam commented on #147
No problem. :)

[2018-11-01 14:35] JKing-B16 opened #149 "No Cameras found in iOS when launching from the home screen."
If you use the Angular PWA and add the application to the home screen, then when you launch the App via Home screen it will fail to find the camera, but go to the program in Safari and you have camera access. It may have something to do with PWA requirements of iOS:

https://forum.ionicframework.com/t/ios-11-its-not-me-its-you-tags-ios11-pwa-camera/126556

Build an App with PWA
Navigate to URL in

[2018-11-01 15:35] acarbonellb commented on #149
Same thing here.

Tested on iPhone 5s w/ iOS 12. App is Safari is working, but when added to home screen is not.

[2018-11-01 15:55] odahcam commented on #149
I hope you understand that this is a limitation Apple imposes over us. The `WKWebView` doesn't have implementations for the `navigator.getMediaDevices` which we use to get the camera stream. I already filed lots of issues around GitHub due to that, but I really can't do nothing for that, I just ask my users to open the browser if they want to use the camera ~and thats a terrible thing~.

I'm still

[2018-11-01 19:46] odahcam opened #150 "Continuously Integrated Docs"
**Is your feature request related to a problem? Please describe.**
Manually commiting docs code to the docs folder seems soo wrong and confusing.

**Describe the solution you'd like**
Angular docs describes how we should do it: https://angular.io/guide/deployment#deploy-to-github-pages

End even better, it talks about a nice package to help on integrating with Travis: https://www.npmjs.com/package

[2018-11-04 05:08] redplane opened #151 "Could not start video source when place zxing in modal and change to back camera"
Hi,

I'm using `zxing/ngx-scanner` for my web app.
Everything seems to be fine until I put `zxing/ngx-scanner` in a [ngx-bootstrap modal](https://valor-software.com/ngx-bootstrap/#/modals)

The exception that thrown back was:

**DOMException: Could not start video source**

This is my debugger image:
![error](https://user-images.githubusercontent.com/7974095/47960215-61e22f80-e032-11e8-8b32-564413

[2018-11-04 17:49] redplane commented on #151
As far as I know I haven't stopped the stream which has been initialized when I used `getUserMedia` at the first time.

When I stopped that stream, everything seems to be fine.
I already modified the stackbliz repo.
Perhaps that's why you can see it worked :D .

I think this can be closed.
Thank you for your response.

[2018-11-04 18:02] redplane opened #152 "Do not automatically ask for camera permission when ngx-scanner is initialized."
Hi,

I want to submit a new feature request.
When I added `zxing/ngx-scanner` in to my component, I realized that as long as I access the component, `zxing/ngx-scanner` automatically asks for camera access permission.

That doesn't make sense, because sometimes, I just want to place `zxing/ngx-scanner` as a hidden component, when a condition met, it will be shown up and that time, it will ask for

[2018-11-04 18:20] #151 closed

[2018-11-05 01:46] odahcam commented on #152
That should be the expected behaviour.

[2018-11-05 01:48] odahcam commented on #151
No problem. 🙂

[2018-11-06 08:27] peterramaldes opened #153 "When I run npm run build --prod, it does not work"
**Describe the bug**
I made a fork of the project, I ran a npm run build:prod, I uploaded it to the web server.
When I went to test both in the computer browser and on the mobile phone, neither works.

I am trying to apply the qrcode scanner on my Angular 6 PWA project.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork this project
2. Run npm install
3. Run npm run build:prod
4. Grab the

[2018-11-06 11:19] odahcam commented on #153
The component seems to be working as expected. As I see, you're probably not under HTTPS, which is required for `getMediaDevices` API access.

Please note that forking the project is not the recomended way to use it, you should prefer using it trough some package manager as npm or yarn.

Thanks.

[2018-11-06 14:06] peterramaldes commented on #153
Thanks for the feedback.

I will make the necessary corrections

[2018-11-06 14:19] odahcam commented on #153
You're welcome, feel free to ask anytime. :)

[2018-11-06 14:19] #153 closed

[2018-11-14 02:34] thanhphuocdang opened #155 "Message "No permission" still display beside the camera name when scanning with android application (APK)"
**Describe the bug**
The message "No permission" still display when I allowed application access camera and it is ready to scan.
**Screenshots**
![img_0330](https://user-images.githubusercontent.com/41668114/48456064-30b2ed80-e7f0-11e8-9c8d-be9052493b5d.JPG)
**Smartphone (please complete the following information):**
 - OS: [Android]
 - Browser [APK]

[2018-11-14 02:36] odahcam commented on #155
Whats that, Ionic?

[2018-11-14 03:31] onfire commented on #127
@moleisking Did you resolve this? Having the exact same issue (ionic)

I have included the module in the main app class:

[code]
Then in my page I am importing it again:

[code]

But getting the same error as you:

[code]

I assume the root cause is the part `'zxing-scanner' is not a known element:`  but I don't see how we can include that?

[2018-11-14 04:35] thanhphuocdang commented on #155
By Cordova

[2018-11-14 11:11] odahcam commented on #127
I don't remember using the `.forRoot()` method for importing, try without it.

[2018-11-14 14:05] odahcam commented on #155
Maybe you should check your android for permission. Theres a permission API in draft that Im considering to implement here, do you have any ideia if that works inside Cordova? If it works we can make some tests.

[2018-11-14 14:18] odahcam commented on #126
I'm heavily busy at the moment, just doing superficial things. I think that by the start of December I will have some free time again to code the new version we need. Also I done some work on this, I think I have some pending changes to release, by this week everything pending will be released and I will post the updates in the release notes. Thanks and sorry for the long wait (even me am eating f

[2018-11-14 19:51] onfire commented on #127
It doesn't seem to make much difference either way. I found the `.forRoot()` in another example.

[2018-11-14 23:42] odahcam commented on #127
It must be old, can you set a StackBlitz example for me to debug?

[2018-11-15 11:37] NiwatTipboonchu opened #156 "#### Why is not support PWA?"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz reproduction is the *best* way to share your issue. <br/>
StackBlitz starter: https://stackblitz.com/fork/zxing-ngx-scanner<br/>

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions

[2018-11-15 21:31] odahcam commented on #156
We do support, but Apple doesn't. Read https://caniuse.com/#search=getusermedia .

[2018-11-15 21:31] #156 closed

[2018-11-16 10:41] odahcam commented on #155
Understood, do you have any console logs of it?

[2018-11-19 10:17] thanhphuocdang commented on #155
I have not the console logs yet, I still do not know how to get it.
Do you know that?

[2018-11-20 08:35] mathudak commented on #126
Hi @odahcam, I've just updated to new version(npm 1.3.0) and replaced function _resetScan()_ with **resetCodeReader()** and I'm not getting this error any more (Safari)

[2018-11-20 10:47] odahcam commented on #155
Sorry, I don't know much about Cordova. :/

Can you post this kinda info here when you get it?

[2018-11-20 10:50] odahcam commented on #126
Thx @mathudak, I'll soon release some updates on that, hope to fix this very soon.

[2018-11-21 02:36] thanhphuocdang commented on #155
Sure, I will notify you when new information arrives.

[2018-12-01 15:09] ajaxsys opened #157 "not work homepage?"
Hi,

**Describe the bug**

https://zxing-js.github.io/ngx-scanner/
is a **blank page** ?

Regards

[2018-12-01 18:11] odahcam commented on #157
Shouldn't be, but it's scheduled to be worked on in #150

[2018-12-12 22:36] tonowie commented on #125
I keep having this issue in both chrome (Version 71.0.3578.80 (Official Build) (64-bit)
) and firefox. I see camera LED on my laptop blink once when page loads but  that is it. at first I thought it was because of Angular7 but I get the same thing with Angular6. Running on Linux.
I am trying to move from AngularJS where my scanner works fine so I believe it is not issue with my laptop. Am I missin

[2018-12-12 23:03] odahcam commented on #125
Damn, I'm definitely not happy with these examples. Have you tried to clone the repo and `ng serve` it?

[2018-12-12 23:04] odahcam commented on #125
Also, StackBlitz is VERY slow, but it is working after some time of loading.

[2018-12-12 23:18] tonowie commented on #125
npm install fails with this

[2018-12-12 23:32] odahcam commented on #125
In future versions it will autoselect the first available camera, I disabled it by mistake some time ago and it stayed like that. Thanks for your patience.

[2018-12-12 23:54] tonowie commented on #125
sorry for bugging you, hopefully it will help someone :) once the demo got working it was easy to understand what is wrong but without it I was clueless

[2018-12-13 03:45] odahcam commented on #125
Yeah, I wanna fix the demo with #150, that's **very** needed.

[2018-12-13 07:09] KarishImrith opened #158 "Decode Image Feature"
I need to be able to read a barcode from an image (in Base64).

Your library works so well and supports many formats, I think the feature belongs here instead of using another library.

I am sure that it will be easy for you to allow us to use a "decode" function from your libary so that we can decode an image.

Kindly assist.

[2018-12-13 10:39] odahcam commented on #158
I think it's already possible. 🤔

There's a decode method in browser layer that accepts a URL, so the base64 can be passed as a URL as well. But there's one problem, there's a few bugs in the browser layer so I don't know how it will behaves, I'm trying to improve that but I still no lucky. 😞

Anyway, [here](https://github.com/zxing-js/library) you gonna find what you need, it's the base library f

[2018-12-13 10:39] #158 closed

[2018-12-13 13:42] KarishImrith commented on #158
Hi,

Thanks for the information.

Unfortunately the link you sent does not support PDF417 which is one of my requirements.

Could you possibly send me some code so that I can try through the browser later :)

Your assistance is much appreciated.

[2018-12-13 14:42] odahcam commented on #158
Well, I do not know of any PDF417 supporting library until now, sorry.

Fun fact: if you've installed this component, @zxing-js/library is already installed in your project, so you can just start using it.

I'd appreciate if you could go to the PDF417 issue (https://github.com/zxing-js/library/issues/59) on the base lib and make your voice there, maybe some of the commenters can help you. :)

[2018-12-13 14:49] KarishImrith commented on #158
Thanks, I will follow it up.

And Lol! Thanks for the fun fact that I completely missed.

Appreciate your prompt assistance.

[2018-12-13 17:50] odahcam commented on #158
You're welcome.

[2018-12-14 08:11] exasky opened #159 "ERROR DOMException: "Index or size is negative or greater than the allowed amount"
**Describe the bug**
When displaying ngx-scanner, there is a chance that this exception is thrown:
'DOMException: "Index or size is negative or greater than the allowed amount"' leading to an impossibility to decode qrcodes

**To Reproduce**
Steps to reproduce the behavior:
1. add ngx-scanner in html like:
 <zxing-scanner [device]="foundCamera"
                           [scannerEnabled]="scannerE

[2018-12-14 12:22] odahcam commented on #159
I see, this all may be bound to recent introduced behaviors. I will take a look on that as soon as possible.

[2018-12-18 15:14] sauravgaursmith opened #160 "Correct version for Angular 4."
Hi Guys

What version should use for Angular 4 to maintain compatibility ?

Thanks

[2018-12-18 17:03] odahcam commented on #160
The last one I know is v0.3.4, but I must say we don't support Angular 4 for a while so I hope everything works for you. :)

[2018-12-18 17:03] #160 closed

[2018-12-18 17:07] odahcam commented on #155
Maybe `getUserMedia` is not supported in this WebView you're using, have you tested it?

[2018-12-18 18:05] sauravgaursmith commented on #160
Thanks buddy for your quick answer.

On Tue, 18 Dec 2018, 10:33 pm Luiz Machado, <notifications@github.com>
wrote:

[2018-12-18 18:57] odahcam commented on #160
You're welcome. 😉

[2018-12-18 21:45] tonowie commented on #155
Well the scanner works fine for me. I can scan and I can switch between cameras. I just do not get the labels of devices. So it kind of works and does not work at the same time

[2018-12-19 01:49] odahcam commented on #155
I see a problem like this before in some browsers that asked for permission to list the cameras, but not enough to list its names, the funny fact is that every time I selected a camera, the browser always asked me the camera permission again. Maybe it could be something like this.

[2018-12-29 12:18] lucifer63 opened #161 "Can't make it work, build fails"
**Describe the bug**
Can't make the scanner work

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm i @zxing/ngx-scanner`,
2. Look for install instructions for 5 minutes, then realize you can look it up in example project and finally add `ZXingScannerModule.forRoot()` to your _app.module.ts'_  imports,
3. Run `ng serve` or `ng build`,
4. See something like this:

![image](https://user-

[2018-12-29 22:46] odahcam commented on #161
First of all, sorry for the example errors and lack of documentation, I have a personal and professional life that needs my attention too, so I did not have time to finish everything with the quality I wish.

Well, the error isn't saying that the scanner is breaking your build, but is saying that Angular does not recognizes the element you're trying to use. You need to make sure that you imported

[2019-01-04 09:48] ami-nsi commented on #3
Is this issue really closed?

[2019-01-04 11:00] odahcam commented on #3
Yep, do you think this should be reopened?

[2019-01-04 11:50] ami-nsi commented on #3
No it's fixed.
Apparently I had this issue when using some PrimeNg components.
It's probably my bad, sorry for trouble.

[2019-01-04 17:34] odahcam commented on #3
No problem, feel free to file a new issue if you need.

[2019-01-14 08:17] andy82302 commented on #102
you must use import { ZXingScannerComponent } from '@zxing/ngx-scanner';

not import { NgxZxingComponent } from '@zxing/ngx-scanner';  in angular6

[2019-01-14 12:43] sanidz opened #162 "Karma tests breaks after installing zxing library."
#### Bug:
After installing package in angular 5 cli project, karma tests breaks

#### What is the expected behavior?
Karma tests work.

#### What is the current behavior?
When running > npm run test
I get error with description:

 10% building modules 1/1 modules 0 active14 01 2019 12:58:19.938:INFO [karma]: Karma v1.7.1 server started at http://0.0.0.0:9876/
14 01 2019 12:58:19.940:INFO [launcher

[2019-01-14 13:46] sanidz commented on #162
I reinstalled the package again but no luck, however I did found a workaround.

1. Do not import ZXingScannerComponent
import { ZXingScannerComponent } from '@zxing/ngx-scanner';

2. Use any for dom component reference type:
@ViewChild('scanner') scanner: any;

Thats it, testing with PhantomJS works (dont ask why I dont migrate to Chrome).

[2019-01-14 16:08] sanidz commented on #162
After some testing these are results:
@zxing/ngx-scanner couldnt trigger scanComplete event so I tried installing @zxing/library.

Library does work, but issue with failing PhantomJS + karma tests remains.

 10% building modules 1/1 modules 0 active14 01 2019 17:05:22.420:INFO [karma]: Karma v1.7.1 server started at http://0.0.0.0:9876/14 01 2019 17:05:22.440:INFO [launcher]: Launching browser Pha

[2019-01-14 19:42] odahcam commented on #162
Whats your node version?

[2019-01-14 20:07] odahcam commented on #162
Adicional note: https://github.com/mobxjs/mobx/issues/160#issuecomment-196573831

Maybe, just maybe, you should give it a try. Or try upgrading Phaton or even maybe inject some TypedArray polyfill.

[2019-01-15 08:51] RowAtk commented on #126
Still getting this error on iOS safari

[2019-01-15 12:02] sanidz commented on #162
Thank you kind Sir, your answer helped me to research more and to include polyfils.
Solution is to modify polyfills.ts file in Angular 5 project and to include typed in which Uint8ClampedArray is.

import 'core-js/es6/typed';

All the best :)

[2019-01-15 12:02] #162 closed

[2019-01-15 13:11] HamzaDevz opened #163 "No device were found iphone 5s ios 10.3.3 in Safari"
#### Bug:
No device were found, i'm using an iPhone 5s in ios 10.3.3 with Safari.

#### What is the expected behavior?
The scanner ask the permission to access to the camera, then it displays.

#### What is the current behavior?
The camera is not found, no permission is asking...

#### What are the steps to reproduce?
In the starter https://stackblitz.com/fork/zxing-ngx-scanner<br/>
I got the mess

[2019-01-15 14:33] HamzaDevz commented on #163
Okay after a little search in https://caniuse.com/#search=getusermedia
Safari with iOS <= 10.x.x is unsupported... I close this issue.

[2019-01-15 14:33] #163 closed

[2019-01-15 21:21] odahcam commented on #163
Maybe an unsupported message should be added.

[2019-01-15 21:22] odahcam commented on #162
Thanks and good luck. :)

[2019-01-15 22:13] HamzaDevz commented on #163
I have a bug only with the iPhone 6s and iOS 12, it doesn't display camera... blank screen..

[2019-01-15 22:45] odahcam commented on #163
Would you like to file a new issue?

[2019-01-21 01:18] lipidfish opened #164 "Doesn't work. Blank Page on iPhone and Desktop."
**Describe the bug**
Pages with this component display nothing.
Browsers: Chrome (Mac) v 71.0.3578.98
Safari (Mac) v 12.0.2
Mobile Safari (ios 12.1.2)
Angular v 6.1.0
Angular cli v 6.1.5

**To Reproduce**
Steps to reproduce the behavior:
1. use npm to install: npm i @zxing/ngx-scanner@latest --save
2. Imported to module: import { ZXingScannerModule } from '@zxing/ngx-scanner';
3. Added to Imports

[2019-01-23 08:56] vincentbouillart commented on #164
i have the same issue

[2019-01-23 09:11] vincentbouillart commented on #157
still not working ..

[2019-01-23 10:38] odahcam commented on #157
#150 stills open... 🙁

[2019-01-23 10:43] odahcam commented on #164
That's really a problem, the following line expects a value that's not already defined:

https://github.com/zxing-js/ngx-scanner/blob/742574321b3d284557d1f0bcc00dc08a87904432/src/app/modules/zxing-scanner/zxing-scanner.component.ts#L300

[2019-01-23 20:51] Luukschoen commented on #164
Experienced the same problem. Was pretty easy to solve by just listening to the camerasFound event and then set the desired device id to the scanner.

[code]

[2019-01-24 01:02] odahcam commented on #164
Thanks for all the patience with this error, we really need e2e tests to avoid this kind of regression. 🙁

[2019-01-25 03:10] #157 closed

[2019-01-25 03:44] odahcam commented on #126
I'm currently working on a big update, this is the last item to finish. 😄

[2019-01-26 22:53] odahcam commented on #74
Update, actually I've migrated all the project structure to a Angular CLI generated project, so no more ng-packagr direct dependency, now is up to Angular to manage the library build for us and with that comes great new features. :)

[2019-01-31 06:35] ghost opened #166 "Support fo Aztec"
I've tried to scan Aztec Code. I've added aztec format to allowed format like this:

<zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX', 'AZTEC']"></zxing-scanner>

Although the Aztec Code type is available BarcodeType.ts I'm not sure that aztec is already supported.

I will be grateful for confirmation.

[2019-01-31 11:17] odahcam commented on #166
Hello, this is not supported yet, this issue depends on https://github.com/zxing-js/library/pull/123 .

Once library's PR is merged and a version with it get's published, this scanner will automatically support the Aztec format.

[2019-02-02 21:55] RowAtk commented on #126
@odahcam That's good news! How's the progress?

[2019-02-03 18:52] amielouise2 commented on #159
any fix on this?  I'm getting the same error

[2019-02-04 16:09] amielouise2 commented on #159
I am under the gun, I'm wondering if it has to do with passing in a string video element id to decodeFromInputVideoDevice.  Is there a way I can send an actual HTMLVideoElement instead?  I've set my video element to same widths as your code (200 x 200) but that made no difference.

[2019-02-04 21:13] theomarshanti commented on #41
Are there any plans to scan 1D barcodes as well?

[2019-02-04 21:25] odahcam commented on #41
1D barcodes are already supported at this time, hehe.

Take a look on the supported formats: https://github.com/zxing-js/library#supported-formats

[2019-02-04 22:33] theomarshanti commented on #41
Thanks! Working fine now :)

[2019-02-05 09:47] pilz97 opened #167 "Use Component in Cordova App"
Hello,

I'm developing a angular cordova app.. I tried to use this plugin but i didn't got it to work!

When I use the plugin I can only see a "black box", from the permission Response I get null as a answer!

That's why i wanted to ask: Is it possible to use the plugin with cordova and if yes how do I get the permission?

Thanks!

[2019-02-05 20:53] odahcam commented on #167
Could you post some print or logs for us to understand the issue better?

[2019-02-06 02:03] odahcam commented on #126
I took a little time to rest my mind and make a good job this time. I'll publish the updates until this month.

[2019-02-06 07:05] pilz97 commented on #167
Thanks for the quick reply!

The big Play smybol you can see on the screenshot is all i get when i use:
`<zxing-scanner #scanner start="true" [device]="selectedDevice"></zxing-scanner>`
For selecting a Device I subscribed to the camerasFound:
`this.scanner.camerasFound.subscribe((devices: MediaDeviceInfo[]) => {
            this.hasCameras = true;

            console.log('Devices: ', devices);

[2019-02-06 12:09] odahcam commented on #167
What happens if you hit the play?

[2019-02-06 12:11] odahcam commented on #106
Supported formats list: https://github.com/zxing-js/library#supported-formats

[2019-02-06 12:13] odahcam commented on #167
Related: #155

[2019-02-06 12:30] pilz97 commented on #167
nothing happens :(
There is also no popup which asks for the permission.. could this be the reason?

[2019-02-08 14:00] odahcam commented on #167
The scanner can’t play anything from stream without permission to access it, so I'd say yes. Can you make a test by running `navigator.mediaDevices.getUserMedia({ video: true })` to see what happens?

[2019-02-08 14:19] thanhphuocdang commented on #167
Try adding the cordova-plugin-camera,
If it does not work, try phonegap-plugin-barcodescanner
Then check your android xml to see  permision

[2019-02-08 14:35] odahcam commented on #167
It would be nice to add to documentation in case it's the case, hehe.

[2019-02-08 15:42] pca1987 commented on #167
@thanhphuocdang if I go to my app information (android settings) I do se camera permission but it's always OFF once I do a fresh install. If it turn it on manually, camera works within the app, but the app never asks for permission after a fresh install. I do have cordova-plugin-camera plugin installed.

[2019-02-13 11:40] Diogo1995 opened #168 "Torch in IOS"
Torch can't be turned On on Iphones. Is it possible to fix this? :)

[2019-02-13 13:00] odahcam commented on #168
Can you share the iOS and Safari versions you used to test that?

[2019-02-13 13:22] Diogo1995 commented on #168
IOs 12.1.4
safari 12

[2019-02-16 09:29] Cruik opened #169 "WebApp does not ask for camera permission"
Hey,

i am trying to get the github angular demo working on my machine.
i am using angular 7.2.4.

The problem here is that it works all fine when i use my pc with firefox and browse to my website. Then they show me my available cameras, ask for the permissions and finally after granting permissions i can see the camera view.

but if i try to enter the website on my samsung galaxy s8 via the brows

[2019-02-16 11:10] odahcam commented on #169
The problem happens on Mobile Chrome?

[2019-02-16 11:26] Cruik commented on #169
Exactly, also with the samsung internet browser

[2019-02-17 15:57] Razgort commented on #169
Hello, same issue here

[2019-02-17 16:39] Razgort opened #170 "Webapp not require permission chrome"
Hello guys
My angular 7.2 web app is not asking for camera permission on android chrome ...
I'm doing a coding rush ...

If you guys could help because i've no idea why ...

i attached here my package.json and angular.json files
everything works well on computer web ....
And the code is exactly the same as demo

but it's working on firefox android device !!!

[code]

[code]

[code]

Desktop is wor

[2019-02-17 19:22] Razgort commented on #169
Testing working on firefox android but not chrome

[2019-02-17 20:14] odahcam commented on #170
Please provide Android and Chrome versions.

[2019-02-17 20:20] odahcam commented on #169
That's **odd**, I'm using this in production and it's working fine here. Does this happens even with the demo?

[2019-02-18 08:19] Razgort commented on #169
Demo is working ... I have only 12h left :(

[2019-02-18 08:23] Razgort commented on #169
Which version is the demo using of your package ?

[2019-02-18 08:45] Cruik commented on #169
i checked the demo out and pushed it to my site.
didn´t change anything and its still not working on chrome

[2019-02-18 09:26] Razgort commented on #170
Android 8.0.0 chrome 72.0.3626
But as said in other issue your demo from https://zxing-js.github.io/ngx-scanner/
works ... do yu have the code of for me to check diff ?

[2019-02-18 09:27] Razgort commented on #169
Ye my code is really the same as https://embed.plnkr.co/MN4riU/

[2019-02-18 09:28] Razgort commented on #170
my code is exactly the same as https://embed.plnkr.co/MN4riU/

But my angular version is 7.2.4

[2019-02-18 12:18] odahcam commented on #170
The current demo is [here](https://github.com/zxing-js/ngx-scanner/tree/develop/projects/zxing-scanner-demo), this may change in the future.

[2019-02-18 12:31] odahcam commented on #169
Take a look:

<details>
  <summary>Images</summary>

  ![screenshot_20190218-092406](https://user-images.githubusercontent.com/3942006/52951098-a1bdf000-335f-11e9-8fb6-b152d0374a18.png)

  ![screenshot_20190218-092338](https://user-images.githubusercontent.com/3942006/52951103-a2ef1d00-335f-11e9-8b31-29d967d5d4ff.png)

  ![screenshot_20190218-092313](https://user-images.githubusercontent.com/39420

[2019-02-18 14:24] Cruik commented on #169
well i guess i solved it. after i enabled 'Https only' for my webapp it worked as expected

[2019-02-18 14:24] #169 closed

[2019-02-18 15:41] Razgort commented on #169
not for me =(

[2019-02-18 15:42] Razgort commented on #170
yes ... not solving anything

[2019-02-18 15:44] odahcam commented on #169
Well any permission API needs to be run under HTTPS in order to work.

[2019-02-18 15:44] odahcam commented on #170
Do you have some link of your production app running?

[2019-02-18 16:41] Razgort commented on #170
It's working with https !!! but not with http ...

[2019-02-18 17:03] Razgort commented on #170
But after rush done =( ....

[2019-02-18 17:04] Razgort commented on #170
got a malus for this but it worked on firefox for the demo anyway

[2019-02-18 22:06] odahcam commented on #170
As I said in #169 , anything related to permissions only work under HTTPS. 🙁

We have to add back the HTTPS info in the README.

[2019-02-18 22:06] #170 closed

[2019-02-19 14:52] benceHornyak opened #171 "Reading qr code from a file input"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
I would like read qr code from an input (file type).
After choosing a file from the input the scanner should be able to parse the given qr code

**Additional context**
I saw this: https://github.com/zxing-js/library#scanning-from-image and I was wondering if it is possible using this scann

[2019-02-19 15:10] odahcam commented on #171
This scanner uses the one you saw, here we have only an Angular layer so @zxing/library is already installed if you installed @zxing/ngx-scanner. Given that, you can just use what you saw. 🙂

[2019-02-19 15:10] #171 closed

[2019-02-22 15:44] hiperiumlw opened #172 "Scann specific area"
Hello.

It is possible to scan specific area of the camera?
I'm working on a project, where I need to draw small rectangular on the middle of the screen and scan only on that specific area.

The whole view will be the camera's view, but want to scan the area mentioned above.

Thanks in advance.

[2019-02-25 17:06] csutorasr commented on #168
Can you try the app in [this answer](https://stackoverflow.com/a/47153547/1558028)? Does it show anything for you?

[2019-02-25 17:12] csutorasr opened #173 "New known issues"
Please, add the following to the known issues as of [caniuse](https://caniuse.com/#feat=stream).

It cannot work on iOS as installed PWA and on Android as WebView.

[2019-02-25 17:13] csutorasr commented on #173
Oh sorry I have just found it.

[2019-02-25 17:13] #173 closed

[2019-02-25 17:49] Diogo1995 commented on #168
nop, not working..

________________________________
De: Robin Csutorás <notifications@github.com>
Enviado: segunda-feira, 25 de fevereiro de 2019 17:06
Para: zxing-js/ngx-scanner
Cc: DiogoPedrosa; Author
Assunto: Re: [zxing-js/ngx-scanner] Torch in IOS (#168)

Can you try the app in this answer<https://stackoverflow.com/a/47153547/1558028>? Does it show anything for you?

—
You are receiving this

[2019-02-25 22:03] odahcam commented on #173
No problem, I wrote that issue on caniuse btw.

[2019-02-25 22:39] odahcam commented on #168
Is there any update available for your device?

[2019-02-25 22:41] Diogo1995 commented on #168
no, there isn't. I have iOS 12.1.4

________________________________
De: Luiz Machado <notifications@github.com>
Enviado: segunda-feira, 25 de fevereiro de 2019 22:39
Para: zxing-js/ngx-scanner
Cc: DiogoPedrosa; Author
Assunto: Re: [zxing-js/ngx-scanner] Torch in IOS (#168)

Is there any update available for your device?

—
You are receiving this because you authored the thread.
Reply to this emai

[2019-03-02 05:47] direstrepo24 opened #174 "angular 5"
Please, how install for angular 5?

[2019-03-02 20:45] odahcam commented on #174
The first version that worked with Angular 5 was 0.3.5, so `npm i @zxing/ngx-scanner@0.3.5`.

[2019-03-02 20:45] #174 closed

[2019-03-04 05:23] thanhphuocdang commented on #167
The permission for the scanner on native application is belong to the Cordova Plugin.
Perhap you can make a yourself plugin and then upload on cordova library.
Then I also use it too, hehe Lol

[2019-03-07 14:11] jkruse commented on #126
I have found that this problem is actually caused by listening to the video element 'playing' event instead of the 'play' event, at least in my Firefox browser.

The 'playing' event triggers twice while the component is initializing, setting up two observables that read from the video element. Only one of these (the last) is stored in `this.decodingStream`, and so only one is correctly stopped. Th

[2019-03-09 07:18] santoshgund commented on #172
I am also looking for the same feature. I went through the complete documentation, but I didn't find any help.

[2019-03-13 18:18] fletchsod-developer commented on #26
Did this changes get checked in to NPM package, @zxing/ngx-scanner --> version 1.3.0 ?

I'm not seeing the `NgxZxingComponent.chooseDevice` method.

[2019-03-13 20:17] odahcam commented on #26
Yes, it's now `changeDevice`.

[2019-03-13 21:07] fletchsod-developer commented on #172
I ran into this same issue with multiple barcodes and am in the same boat as you guys are.

[2019-03-19 08:34] DrorBuhnik opened #175 "Missing callback on error in decodeFromInputVideoDevice"
Where there is an issue inside `decodeFromInputVideoDevice`, the error is not propagate up via scanFailure observable, this leave the library user in undefined state without any option to recover
https://github.com/zxing-js/ngx-scanner/blob/master/src/app/modules/zxing-scanner/browser-code-reader.ts#L143-L146

This came up when testing on iPad which (for some reason known only to apple) doesn't li

[2019-03-19 16:51] odahcam commented on #175
I can confirm this behavior once I experienced it lots of times in recently. I'm sorry I couldn't fix it yet, I'm pretty out of time.

[2019-03-27 07:41] DrorBuhnik commented on #175
Right now I have a manual workaround that takes this code
https://github.com/zxing-js/ngx-scanner/blob/8ff38b6c55957c40623d1b92f5a324dbb2991c76/src/app/modules/zxing-scanner/browser-code-reader.ts#L143-L146
and add
[code]

Is that a sufficient fix for you?

[2019-03-27 11:07] thatham commented on #127
here the feature module that you're referring in config.xml?
if yes, kindly provide a sample

[2019-03-27 11:27] kimdah3 opened #176 "Set zoom/scale"
**Is your feature request related to a problem? Please describe.**
Trying to make the scanning more effective, I think by increasing the scale/zoom of the camera could make it better. I'm scanning really small data matrix codes which makes them hard to scan.

**Describe the solution you'd like**
Ideally an attribute to set it up on the component.
Is it possible to fork and change a setting of some

[2019-03-27 11:49] odahcam commented on #127
Sorry, what `config.xml`? `ZXingScannerModule` is not a feature module, that module is a sub module of your main `AppModule`.

[2019-03-27 12:09] thatham commented on #127
I'm using Cordova to build angular application for android, it has common config.xml for android, ios and other OSes... I need help to make the component work.

[2019-03-27 14:21] thanhphuocdang commented on #127
P

Please make your Angular application works on browser first. You are messing things up.

[2019-03-28 04:41] thatham commented on #127
it's working well with browsers. After I install the same as an android app it's shows nothing

[2019-03-28 04:56] thanhphuocdang commented on #127
I curious about that same as an android app. You are using Cordova pf to build the native app right?
Could you try to map Angular with Cordova?

[2019-03-28 05:03] thatham commented on #127
I've build Angular application first, then, i took production build and copied into cordova "www" folder and build output as apk. Before took apk file, i've tried with cordova browser the component worked as expected. But on mobile, it's a blank screen also it not asks for camera permission also

[2019-03-28 05:08] thanhphuocdang commented on #127
Ok
1. Google for "wrap Angular app with Cordova" to resolve your current issue
2. Have a look at Cordova plugins for permission on the native app
Good luck!

[2019-03-28 05:10] odahcam commented on #127
Thank you so much for the help @thanhphuocdang and good luck @thatham.

I'm locking because this ran out of the issue's topic, feel free to open a new one if needed. 🙂

[2019-03-28 06:57] thatham commented on #155
i'm gettting the same problem

[2019-04-05 09:46] anilprime opened #177 "scannerEnabled property is not working"
**Describe the bug**
Even when the **EnableScanner** property is assigned as false, the camera scanner is able to scan the barcode, but as per my understanding the camera supposed to scan and decode the barcode only if the **EnableScanner** property is true.

**To Reproduce**
 <zxing-scanner #scanner3  [scannerEnabled]="scannerEnabled" [device]="currentDevice"  (scanSuccess)="handleQrCodeResult($e

[2019-04-07 11:45] maxstrauch commented on #126
I've had the same problem now for the third time. I digged into the problem and could not really find an answer. The "solutions" from the top did not really help me out.

So I decided to quickly throw together a replacement to just _work_. Maybe it is useful for somebody else: https://www.npmjs.com/package/ngx-zxing-multicode

[2019-04-07 23:04] nCr78 commented on #177
I solved this by calling `this.scanner.refreshCodeReader();` after setting `this.scanner.scannerEnabled` to `true/false` whenever I want to switch the camera/scanner on or off. However, this will turn off your camera completely until you set `scannerEnabled` back to `true` again. I don't think you can have the camera on and not scan at all. (Could be wrong, though, since I didn't need that behavio

[2019-04-08 06:36] anilprime commented on #177
Thank you @nCr78 for the answer, but I don't want to switch off the camera, it must still remain in running condition and want to manage to handle the camera to scan the barcode or not by using scannerEnabled property.

[2019-04-08 22:35] jeremysangroni opened #178 "Devices have status "without permission" when tested in a local environment"
I tested the application through a Wi-Fi network from my laptop to my phone, everything is perfect, but running the application with the ip address of my laptop on the phone throws me that the devices do not have permissions, this is because the domain is not valid to be in a local environment?

[2019-04-09 05:49] thanhphuocdang commented on #178
Too less information.
I guess that is an error happens with your SSL,
Try to connect your phone to laptop by cable line and run with localhost to fix that.
Or using GAE if you would like to test your app via the address with a secure certificate.

[2019-04-18 17:05] andersonkoester opened #179 "Autofocus doesn't work"
Hi guys, I'm trying to apply autofocus, but it doesn't work.
`<zxing-scanner #scanner [device]="currentDevice" [autofocusEnabled]="true" (scanSuccess)="handleQrCodeResult($event)" [formats]="allowedFormats"></zxing-scanner>`

Result:
`<video _ngcontent-c12="" autoplay="true" muted="true" playsinline="true" autofocus="true" style="object-fit: cover;"><p _ngcontent-c12=""> Your browser does not supp

[2019-04-23 07:52] kamisamabingo opened #180 "Cannot read property 'camerasNotFound' of undefined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-04-27 14:46] Andi1990 opened #181 "How to automatically draw a frame around code"
#### Is your feature request related to a problem? Please describe.
No.

#### Describe the solution you'd like
I would like to have a visible frame around the qr code (rectangle) as soon as the scanner/camera detects the code. Is that possible?

[2019-04-29 21:13] martinpereiranm commented on #168
Is there any update on this?

[2019-05-03 21:45] csutorasr commented on #168
@odahcam Can you get an iPhone to test it?
@Diogo1995  @martinpereiranm Which devices are these?

[2019-05-03 22:13] Diogo1995 commented on #168
@csutorasr IPhone 7

[2019-05-03 22:28] martinpereiranm commented on #168
Me too

[2019-05-13 07:28] Murugan1778 opened #182 "Camera view not opened in iOS and showing the blank screen in ionic while implement zxing"
Hi all I was implemented zxnig/js for barcode scan.Its working well in android platform .But I am  facing the blank screen problem in iOS

**Expected behavior**
It should scan well in iOS devices.

**Smartphone:**
 - Device: [ iPhone6]
 - OS: [e.g. iOS12.2]

**Additional context**
I am getting following error.I was added camera permission in plist
![Screenshot 2019-05-13 at 12 44 26 PM](https://us

[2019-05-14 12:31] cnps opened #183 "method to control time between scans"
First of all, thanks for a super component.

I've created a method on the ZXingScannerComponent class to be able to control the time between scans, as 500 milliseconds were simply to fast for my use case.

I can imagine others could use this feature, so if you would like, I can submit a pull request. Otherwise it would be really nice if you could implement it, so I don't have to "hack it".

[2019-05-16 23:56] odahcam commented on #178
There's no way to point a problem here, it could be one of the permissions layers, network, SSL, domain, device, etc., so I'm closing, sorry.

[2019-05-16 23:56] #178 closed

[2019-05-17 00:02] odahcam commented on #177
The `scannerEnabled`  is not something like a `ignoreScans` flag. It enables and disables the scanning system, entirely. This you expecting behavior is in development btw. If you want to so such thing you can just ignore successful scan results while handling whatever operation you need.

[2019-05-17 00:02] #177 closed

[2019-05-17 02:01] thanhphuocdang commented on #155
I am going to leave this one now. If there is no problem, you can close this topic.

[2019-05-20 00:52] odahcam commented on #180
This is missing so much information. Sorry.

[2019-05-20 00:52] #180 closed

[2019-05-20 05:00] #150 closed

[2019-05-20 05:00] #152 closed

[2019-05-20 05:00] #164 closed

[2019-05-20 17:21] mhosman opened #184 "Since last update (1.5.0) can't import @zxing/library"
`import { BarcodeFormat } from '@zxing/library';`

Also it could be great to have access to the change log in GitHub (not updated since v1.2.1)

[2019-05-21 00:26] odahcam commented on #181
Nope, not currently possible with the current JS and library state, sorry.

[2019-05-21 00:26] #181 closed

[2019-05-21 00:27] odahcam commented on #182
Please, provide reproduce steps. :)

[2019-05-21 00:30] odahcam commented on #179
Autofocus is by default enabled. I can't see a reason on why it wouldn't work. Could you set up an example at StackBlitz?

[2019-05-21 00:39] odahcam commented on #184
Please be aware that `@zxing/library` is a peer dependency:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/3942006/58060377-912c3a00-7b47-11e9-9dcf-6a0f7212f5a0.png">

So you should always remember to install it (like `npm i @zxing/library`).

[2019-05-21 00:39] #184 closed

[2019-05-21 00:40] odahcam commented on #182
@thanhphuocdang any ideas?

[2019-05-21 02:05] thanhphuocdang commented on #182
@Murugan1778,
Please give clearly your issue,
What framework you are living?
How do you build that ios app?
How about the OSX app running?
Steps to reproduce, please.

[2019-05-21 05:48] tsukune1106 opened #185 "ZXingScannerComponent method not exist since updated to ver. 1.5.0"
After updated to version 1.5.0, some of the method are been said they are not exist in ZXingScannerComponent. It also said that the component could not find the module @zxing/library even though last version does not have this issue.

[2019-05-21 09:25] cnps commented on #185
Same issues here.

[2019-05-21 09:45] Noapte commented on #185
The same with my project, I had to downgrade to 1.3.0

[2019-05-21 23:43] odahcam commented on #185
You can see that the class `ZXingScannerComponent` is found here: https://stackblitz.com/edit/zxing-ngx-scanner

Could you delete the package locker (`package-lock.json` or `yarn.lock`) and `node_modules` and try installing the packages again?

[2019-05-22 02:12] jziggas commented on #185
same issue from fresh angular app

[2019-05-22 03:46] odahcam commented on #185
Well, it wasn't like that before. I think it was a mistake letting `@zxing/library` become a peer dependency.

[2019-05-22 04:25] #185 closed

[2019-05-22 05:14] odahcam commented on #183
I would gladly accept a PR that adds a new prop to the component where the user can control the `timeBetweenScans` value.

[2019-05-22 14:33] franciscovelez opened #187 "What happened with getDeviceById method?"
Hi there,

I was using the 1.3.0 version and today I have updated it to 1.5.0. After that, I have found that the `getDeviceById` method from the `ZXingScannerComponent` class does not exists anymore. So my question is what happened with this method? Have you changed the name or removed it? If it has been removed, is there any other method to get the device ID?

I did my code following your plunker

[2019-05-22 23:13] ymallikreddy521 commented on #187
same problem here. I used 1.3 version for now

[2019-05-23 04:51] manikandan07081995 commented on #182
@odahcam @thanhphuocdang   I am also facing the same issue. It's asking the media permission. I have given the <key>NSCameraUsageDescription</key>
  <string>My reason justifying fooling around with your camera</string>

in info.plist. But still, I am getting the same error.

[2019-05-23 05:59] odahcam commented on #182
Please, anyone send reproduction steps.

[2019-05-23 07:11] manikandan07081995 commented on #182
Step 1: Created ionic project (Spec: ionic 3.20.0 version)
Step 2: Then install this npm -  **npm i @zxing/ngx-scanner@latest --save**
step 3: Import the ZXingScannerModule in app Module.
import { ZXingScannerModule } from '@zxing/ngx-scanner';
@NgModule({
 imports: [ ZXingScannerModule ] })
Step 4: Home page Html following code added.
<zxing-scanner [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'D

[2019-05-23 07:13] manikandan07081995 commented on #182
@odahcam, please do the above steps. But same code working while ionic serve and show in the browser.

[2019-05-23 12:16] manikandan07081995 commented on #182
application open in WKWebView

[2019-05-23 22:45] odahcam commented on #182
As far as I know, `WKWebView` (I've written about it myself on Can I Use) does not supports `navigator.getUserMedia` method, which is essential in the base lib. Didn't you notice any errors or warnings in the iOS log about that?

[2019-05-24 03:08] thanhphuocdang commented on #182
Did you try with NSCameraUsageDescription before?
I suggest using cordova.plugins.diagnostic and Cordova-plugin-camera on your code for asking runtime permission.
NSCameraUsageDescription is just the asking permission message description right? I haven't used it yet.

[2019-05-24 04:52] manikandan07081995 commented on #182
@odahcam  zxing-scanner - askForPermission - Can't get user media, this is not supported. This is the error I got in ios Log. Correctly said @odahcam , navigator.getUserMedia is undefined. Can you tell the alternative or solution for this issue?

[2019-05-24 04:55] manikandan07081995 commented on #182
@thanhphuocdang  I tried NSCameraUsageDescription in info plist. But It not helpful.

[2019-05-24 05:08] odahcam commented on #182
Well, I don't really know how to workaround WKWebView yet, so feel free to discuss solutions here. I'll close this since it's not a 1st party issue, but a WebKit. I you find something I would be glad to document that, thanks.

[2019-05-24 05:08] #182 closed

[2019-05-24 07:18] raphaelramos opened #188 "Not display the camera facing back"
Hello. Congratulations to the developers for the amazing component.

Console displays error message "The `device` must be a valid MediaDeviceInfo or null". Can anyone tell me why?

And by selecting the back camera on the Android device, it does not display the "camera 0, facing back" image. Camera 1 displays.

Code was copied from
https://stackblitz.com/edit/zxing-ngx-scanner

[2019-05-24 15:04] ingeJulianLasso commented on #187
I have the same problem here. I have used version 1.3 for now. I hope the team will fix it soon :)

[2019-05-24 17:59] odahcam commented on #187
team: me (hey!) 😆

Get device by ID is out, it was removed from 1.3 to 1.5. You can still filter devices by ID like this:

[code]

[2019-05-24 17:59] odahcam commented on #188
When did you copied that code?

[2019-05-25 13:36] j-651 commented on #188
I am experiencing the exact same issue as Raphael.  Used the StackBlitz example which errors to "The `device` must be a valid MediaDeviceInfo or null". I am unable to switch cameras.

Additionally, `this.scanner.changeDevice(device);` included in the StackBlitz to default to the device's rear camera  returns "Property `changeDevice` does not exist on type 'ZXingScannerComponent'."

The code I am r

[2019-05-27 09:24] franciscovelez commented on #187
Thank you for your answer, we will change our code accordingly. Just a tip: It would be wonderful if you publish a list of changes within the next releases, in that way we can figure out if there is something we should change.

Regards.

[2019-05-27 13:31] odahcam commented on #187
Yes, my fault. It happens that I didn't remember that there was such changes, it was a long time since I coded this release. Looks like a lot more people is using this lib now so I gotta be careful.

[2019-05-27 13:31] #187 closed

[2019-05-27 17:07] SergeyMell opened #189 "Camera does not stop on Safari and sometimes on Chrome"
**Describe the bug**
We were using scanner on one of our angular routes. After moving to another route camera sometimes remain working on Chrome and always on Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the example to reproduce
https://stackblitz.com/edit/angular-tyqjz9?file=src%2Fapp%2Fscanner%2Fscanner.component.ts
2. Just navigate between `home` and `scanner` routes via l

[2019-05-27 20:44] j-651 commented on #26
@odahcam Is this still accurate? With `changeDevice` I am now getting "Property 'changeDevice' does not exist on type 'ZXingScannerComponent'."

[2019-05-27 23:17] raphaelramos commented on #188
4 days ago

[2019-05-28 00:07] ingeJulianLasso commented on #187
Thank you very much for your reply. I based myself on an example that you published in plunker.

[2019-05-28 13:51] ingeJulianLasso commented on #187
Thank you for answering. One last request regarding the library, could it be possible to update the demo example?
https://embed.plnkr.co/MN4riU/

[2019-05-29 00:37] odahcam commented on #26
Just set `scanner.device = myDevice` or bind it to `<zxing-scanner [device]="myDevice" />`.

[2019-05-29 00:51] j-651 commented on #26
OK, thank you - I have been able to implement it using `[device]`.  Perhaps the reference to `changeDevice()` should be removed from the StackBlitz in the future to avoid confusion since `[(device)]="currentDevice"` is already implemented?

[2019-05-29 01:00] j-651 commented on #188
As per [here](https://github.com/zxing-js/ngx-scanner/issues/26#issuecomment-496739966), I have been able to solve this issue by removing `this.scanner.changeDevice()` (which now prevents the console error) and replacing it with a `[(device)]="currentDevice"` implementation as is also already in the StackBlitz.  I am now able to properly change cameras.

[2019-05-29 13:37] mhosman opened #190 "Update dependencies to Angular 8.0"
In order to remove warning
`@zxing/ngx-scanner@1.5.1 requires a peer of @angular/common@^7.2.0 but none is installed. You must install peer dependencies yourself.`

[2019-05-30 15:43] odahcam commented on #187
That Plunkr example is not maintained anymore, so for future updates, you should keep an eye at the StackBlitz one. Thanks.

[2019-05-31 09:59] gregwm opened #191 "Back camera not being used as default"
**Describe the bug**
Back camera not being selected by default on Samsung Galaxy S9.

**To Reproduce**
https://zxing-ngx-scanner.stackblitz.io

**Expected behavior**
Switching cameras works (most the time), but it appears something is setting the camera after `_selectBackfaceCamera` is called.

**Smartphone (please complete the following information):**
 - Device: Samsung S9 Galaxy
 - OS: Android

[2019-05-31 13:27] odahcam commented on #188
It's just a bad implementation, where `currentDevice` from StackBlitz demo is `undefined` when it should be `null`.

The StackBlitz demo is fixed now.

[2019-05-31 14:04] odahcam opened #193 "Maximum call stack exceeded"
**Describe the bug**

This used to happen after a loon time and amout of failed scan attempts, but after upgrading RxJS it happens right after changing the device and the first `scanFailure` is fired. After that `RangeError`, no scan is done and the stream remains dead-like.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the demo.
2. Wait.
3. See error

or in certain RxJS versions it m

[2019-06-02 08:08] odahcam commented on #188
This should be solved by now.

[2019-06-02 08:08] #188 closed

[2019-06-02 08:09] odahcam commented on #191
This is not a expected behavior for this lib, it just opens the first available camera.

[2019-06-02 08:09] #191 closed

[2019-06-03 10:54] bassManAlex opened #195 "scanSuccess event not fired"
**Describe the bug**
The scanSuccess event is not fired

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stackblitz.com/edit/zxing-ngx-scanner
2. Try to scan a barcode

**Expected behavior**
scanSuccess event is fired.

**Desktop:**
 - OS: Windows 10
 - Browser Chrome
 - Version 74.0.3729.169

**Smartphone:**
 - Device: Samsung Galaxy S4
 - OS: Android 8
 - Browser Chrome
- Vers

[2019-06-03 15:18] ymallikreddy521 opened #196 "Property 'resetCodeReader' does not exist on type"
After upgrade to latest version, I am getting below exception.

Property 'resetCodeReader' does not exist on type

Is this property removed.

[2019-06-03 16:17] Kerbel commented on #195
+1

[2019-06-03 22:08] odahcam commented on #196
Probably removed long ago, perhaps `scanner.codeReader.reset()` may solve your problem. Let me know if you have any more issue.

[2019-06-03 22:08] #196 closed

[2019-06-03 22:11] odahcam commented on #195
Please refer to #193. It's an odd RxJS bug that happens after certain version.

[2019-06-03 22:11] #195 closed

[2019-06-03 22:14] odahcam commented on #193
Also happens on macOS.

[2019-06-04 03:16] ymallikreddy521 commented on #196
Thank you. I will give a try.

[2019-06-04 21:00] #175 closed

[2019-06-04 21:00] #193 closed

[2019-06-05 08:59] btxtiger opened #199 "Type error with Angular 8"
Angular 8 and I guess the newer typescript version produces this error:
[code]

[2019-06-05 11:44] odahcam commented on #199
This should be solved once we publish #198.

[2019-06-05 13:14] digoburigo commented on #199
I don't know if this is related but when building angular 8 with the differential loading this is occurring

[code]

[2019-06-05 15:43] digoburigo commented on #199
I made a sample project from start and the error not occurs so must be on my side, sorry for the inconvenience and ignore the comment i made

[2019-06-06 11:48] vandaelesam opened #200 "permissionResponse Always returns null"
I think i have the following bug: PermissionResponse doesn't work anymore for me.

I've implemented the package version 1.4 yesterday because limitation in other packages.
Implemented the package yesterday and got it working without any problems.

I got the question for permission to use the camera wich I allowed and everything worked.
I tried it again today and I get no question but the permissio

[2019-06-06 12:04] #200 closed

[2019-06-06 12:04] vandaelesam commented on #200
it fixed itself for some weird reason

[2019-06-06 16:27] aeslinger0 commented on #193
@odahcam, I'm still seeing this in the StackBlitz. Could this be updated?

[2019-06-06 16:47] odahcam commented on #193
Done.

[2019-06-06 18:05] aeslinger0 commented on #193
Hmm, the error is gone, but I can't get it to scan. The demo link works for me, but not the StackBlitz link. What could be different?

[2019-06-06 18:23] mhosman commented on #191
Hey @odahcam how about this code in the example?

[code]

It should be get the back camera by default but is not working (worked in the past).

[2019-06-06 19:44] odahcam commented on #191
As you said, that's an [not-working] example, it is not the intended behavior for the component [yet]. That's something I'm working on, expect it in near future. Thanks for the patience.

[2019-06-06 19:54] mhosman commented on #191
I did not know it did not work. It could be great to get that feature. Thank you very much for your response!!

[2019-06-06 20:53] odahcam commented on #193
Yes, this code is all asynchronous and has some problems, it happens that when I fix something an error explodes somewhere else and everytime I have to rewrite a lot of code to make it work again. So that makes the situation a good one for new bugs to born. I'm working on a fix for this.

[2019-06-06 20:54] odahcam commented on #191
You're welcome, I'll always do my best to answer good.

[2019-06-07 09:47] GorganGabi opened #202 "Error TS1039: Initializers are not allowed in ambient contexts."
ERROR in node_modules/@zxing/library/esm5/browser/VideoInputDevice.d.ts(10,21): error TS1039: Initializers are not allowed in ambient contexts.

*Steps to reproduce the behavior:*
ng serve --watch

 Angular CLI version: ~6.0.0
Typescript version: ^2.7.2
@zxing/ngx-scanner: ^1.7.1

Maybe it's something related to typescript/angular version?

[2019-06-07 11:03] Barruz commented on #126
Hi, are there any updates? I'm encountering the same issue, _resetCodeReader()_ doesn't fix it.

[2019-06-07 11:58] odahcam commented on #126
Yeah, I finilly did the coding I was talking about, half because I was in home and wanted to do it and half because I needed it in my work, hehe. Thanks for updating @Barruz .

[2019-06-07 11:58] #126 closed

[2019-06-07 12:05] odahcam commented on #202
Probably is, the 1.7 version is built with TS 3.x and Angular 7, please try using 1.3.

[2019-06-07 12:05] #202 closed

[2019-06-07 14:07] GorganGabi commented on #202
Updated to Angular 8 and Typescript 3.4 and the 1.7 version works fine.

Thank you!

[2019-06-07 16:59] odahcam commented on #202
Nice to know that, I did not upgraded the lib itself to Angular 8, good to know they're compatible.

[2019-06-07 18:03] ymallikreddy521 opened #203 "Angular 8 - camera loading error"
Unable to find the scanner either on init or AfterviewInit after upgrade to Angular 8, Zxing - 1.7

typescript :34.5

It works perfect with Angular 7.

HTML

   <zxing-scanner #scanner [autostart]="true"
           [device]="currentDevice" (scanFailure)="handleScanFailure($event)"  (scanError)="handleScanError($event)" (scanComplete)="handleScanComplete($event)" (scanSuccess)="handleScanSuccess($e

[2019-06-07 19:32] ymallikreddy521 opened #204 "Angular 8: warning messages"
Hi there,

I am getting below warning messages.

 Permissions not set yet, waiting for them to be set to apply device change.
Setting is the same device is not allowed
Trying yo play video that is already playing.

Here is the HTML

[code]

Here is TS

[code]

**EDIT:** added syntax highlighting.

[2019-06-07 22:09] odahcam commented on #204
Thanks for reporting, this is not Angular 8 specific.

Some of these warnings are just telling you that things that shouldn't be happening are happening, so you can work on your code to disappear with them. The `Trying yo play video that is already playing.` is a bad implementation inside the code reader, which will be solved in the future with #177 and #175.

[2019-06-07 22:09] #204 closed

[2019-06-07 22:10] odahcam commented on #203
Sorry, you're saying `this.scanner` remains null?

[2019-06-08 02:47] ymallikreddy521 commented on #203
yup. you are right. It remains null. There is some change happened as part angular 8 how the child are loaded based on static.

[2019-06-08 02:49] ymallikreddy521 commented on #204
which version of it solved the code reader issue. I am using 1.7.1

[2019-06-09 19:49] odahcam commented on #204
Follow both #175 and #177 for updates, thanks.

[2019-06-09 20:00] odahcam commented on #203
Maybe it helps? https://blog.ninja-squad.com/2019/05/29/what-is-new-angular-8.0/#queries-timing

[2019-06-10 07:04] dejooo13 opened #206 "Angular 7 unable to build"
Hello,
i have a problem when building up project, we have 3 env dev, qa and prod, on dev and prod it all goes well and on qa i get:

1. If 'zxing-scanner' is an Angular component and it has 'scannerEnabled' input, then verify that it is part of this module.
2. If 'zxing-scanner' is a Web Component then add 'CUSTOM_ELEMENTS_SCHEMA' to the '@NgModule.schemas' of this component to suppress this messa

[2019-06-10 11:31] dejooo13 commented on #26
I get this same issue, and when i remove of "Property 'changeDevice' does not exist on type 'ZXingScannerComponent'." and this is my

`<zxing-scanner #scanner [scannerEnabled]="scannerEnabled" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']"></zxing-scanner>`

 when i  remove changeDevice i get this  Can't bind to 'sca

[2019-06-10 12:11] odahcam commented on #206
Hello, are you importing ZXingScannerModule in the module your component that uses it is declared?

[2019-06-10 12:13] odahcam commented on #26
The APIs changed, `scannerEnabled` is now `enable` and the change or choose device does not exists anymore. Just bind to the `[device]="myDevice"` and change it as you want.

[2019-06-10 12:36] dejooo13 commented on #206
Yes, it's all fine and all worked as it should, just out of sudden, before few days started to bug. I think it's maybe due to some changes in plugin because i didn't touch code and even that component (it was working) and now i can't build up project.

`<zxing-scanner #scanner [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MAT

[2019-06-10 12:51] dejooo13 commented on #206
I forgot to write, this code above throws me this error:

[2019-06-10 13:30] ymallikreddy521 commented on #203
yup. It helps. I was able to fix the problem. Thank you

[2019-06-10 13:30] #203 closed

[2019-06-10 14:49] odahcam commented on #206
That's fine, just change it like that:

[code]

You need to explicit say you defining no device, otherwise futher device settings validation could fail.

[2019-06-10 14:49] #206 closed

[2019-06-10 14:50] odahcam commented on #203
Nice, would you mind to share the solution?

[2019-06-10 15:31] dejooo13 commented on #206
@odahcam that's it. Thanks for your help.

[2019-06-10 18:14] odahcam commented on #206
You're very welcome.

[2019-06-11 14:45] ymallikreddy521 commented on #203
Sure.

HTML:

     <zxing-scanner  #scanner  [autofocusEnabled]="true" [autostart]="false" [enable]="true"  [device]="currentDevice"
          (scanComplete)="handleScanComplete($event)" [formats]="allowedFormats"
          [tryHarder]="true"></zxing-scanner>

TS:
 @ViewChild('scanner',{static:true, read: false}) scanner: ZXingScannerComponent;

This is change and must to set to NULL
 currentDevic

[2019-06-11 15:15] odahcam commented on #203
Thank you @ymallikreddy521 . I'm locking this now for clarity, please anyone reading this feel free to open new issues.

[2019-06-12 11:52] odahcam opened #207 "Rename `permissionResponse` to `hasPermission` to get more friendly"
Title says all.

[2019-06-17 04:39] skacharde opened #208 "Camera not launching for Iphone 7"
Camera not launching on Iphone 7

[2019-06-17 11:42] odahcam commented on #208
Cannot help without the minimal requested information. Also, I have access to a iPhone 7 where the camera is working. Sorry.

[2019-06-17 11:42] #208 closed

[2019-06-17 12:46] ngeor opened #209 "scanFailure event is being triggered constantly with Angular 8"
**Describe the bug**
scanFailure event is being triggered constantly with Angular 8.

The stack trace is this:

[code]

**To Reproduce**

I have an app in StackBlitz that demonstrates the problem:

https://angular-usl95g.stackblitz.io

Basically, you just need to add this on an Angular 8 app:

[code]

with this event handler:

[code]

And then you get flooded in errors.

In our application, we're

[2019-06-17 13:07] odahcam commented on #209
This is no an error, this is a failure to decode a barcode in the current image stream, it means it is expected.

If you wanna look for unexpected errors that may cause the scanner to not work anymore, go with `scanError`.

Thanks.

[2019-06-17 13:07] #209 closed

[2019-06-17 13:15] ngeor commented on #209
Thank you @odahcam , apologies for the misunderstanding. We'll change the handler to `scanError` as you mentioned.

[2019-06-17 13:21] odahcam commented on #209
No problem, feel free to open new issues as you need.

[2019-06-20 11:30] Abul4u opened #210 "zxing-scanner not working in Cordova Web View"
I am using zxing-scanner in **Angular Web App** and that Web App will load in **Cordova App's Web View**.
Scanner working fine in Chrome(Desktop/Tablet/Mobile) but its not working in Cordova App's Web View.

Note:
Camera permission already granted to the Cordova App.

zxing-scanner askForPermission TypeError:
navigator.mediaDevices.getUserMedia is not a function(...)

@zxing/ngx-scanner I was not

[2019-06-21 12:23] naiduashok commented on #164
I have used
camerasFoundHandler(event) {
      this.scanner.scan(event[0].deviceId);
  }

but on ios not opening the camera. It is asking for the permission, but not sure why it is not opening the camera. I am using IOS 12.3. Not showing any log

On Android device it works fine

[2019-06-22 11:28] JuSteph93 opened #211 "Copied code from wiki doesn't work for me"
HI, I've just discovered this amazing tool that could be useful for my web app but i copy/paste your demo code and the scanner can't read the code. I tested on the demo my barcode and there works but in my local don't. What did I do wrong? Here's the code

[code]

----

**EDIT by @odahcam:** added proper code highlighting.

[2019-06-24 18:20] odahcam commented on #211
Could you link the Wiki page?

[2019-06-24 21:47] JuSteph93 commented on #211
First of all, thank you for formatting my code I appreciate that.

Here the link to the wiki

https://github.com/zxing-js/ngx-scanner/wiki

[2019-06-25 08:52] WEBhicham opened #212 "error when trying to change device"
**Describe the bug**
A clear and concise description of what the bug is.
whenever I try to set a new device it resets back to the first available device, and I get a lot of erros
**To Reproduce**
Steps to reproduce the behavior:
see code

**Expected behavior**
to just switch device without any errors or resetting back

**Screenshots**
![HFBHjx5Iiy](https://user-images.githubusercontent.com/2736264

[2019-06-25 22:46] odahcam commented on #211
You're welcome. About the link, I mean the wiki page where you got the code.

[2019-06-26 11:36] WEBhicham opened #213 "scanner doesn't enable by enable variable"
**Describe the bug**
A clear and concise description of what the bug is.
Hi there, I am trying to make a button that **first** disables the scanner and then a button that enables it back. yet it only disables and never enables it
**To Reproduce**
Steps to reproduce the behavior:
1) set the this.scanner.enable to false
2) set the this.scanner.enable to true
3) doesn't get enabled back

**Expected b

[2019-06-27 11:14] bogdandjukic commented on #213
We have the same problem here.
We enable it by button, then disable it and want to re-enable it again which does nothing.

[2019-06-27 13:59] WEBhicham commented on #213
I have solved this by setting the device again after I enable it again. However this fix doesn't work on mobile for what ever reason

[2019-06-27 14:26] hemchudgar commented on #213
@WEBhicham Hey it's works

But it still throws scanError event when this.scanner.enable is set to false when scanning completes. Are you facing the same issue?

[2019-06-27 23:37] odahcam commented on #213
You would like to enable the scanner back again from it's previous state (before disabling it)?

[2019-06-27 23:44] odahcam commented on #212
Well, this has nothing to do with the scanner, sorry.

For solving this you could try to move some of your code from `ngOnInit` to `ngAfterViewInit` and, mainly, avoid setting values to the component manually via TS, just let the template parser handle what it can.

Also, I did a switch button myself, maybe you could get a cleaner code if you use `shift` and `unshift` methods on the available devi

[2019-06-27 23:44] #212 closed

[2019-06-28 10:06] hemchudgar commented on #213
@odahcam  Yea right! On button click, I want to enable the scanner and as soon as the scan completes I want to disable it. And after disabling the scanner enable it again. This works fine.

But after completing the scanning and getting the result in scanComplete event and disable it using this.scanner.enable to false it throws below error in scanError event

DOMException: Failed to execute 'getIma

[2019-06-28 10:07] kgatan opened #215 "device becomes null"
**Describe the bug**
Setting new device causes this.device to become null

**To Reproduce**
Toggle devices
https://angular-9kjspu.stackblitz.io

**Expected behavior**
scanner.device should always reflect active device

**Desktop (please complete the following information):**
 - OS: Windows 10 Pro
 - Browser Chrome
 - Version Latest

**Smartphone (please complete the following information):**
 - De

[2019-06-29 03:59] odahcam commented on #213
That one occours when the decoder can't draw the image from a binary string for decoding, probably some async problem when the scanner is shutting down.

[2019-06-29 07:51] hemchudgar commented on #213
@odahcam So is there any solution to avoid that error?

[2019-07-02 11:20] VinothMathi opened #216 "Cameras not found in mobile browser"
I have used zxing scanner with angular 7 to scan qr codes. It is working with the desktop browser. But when I tried with the mobile browser both android and iOS, I am getting cameras not found event. It is not even asking for permission. Please help me with this.

[2019-07-02 11:23] yerayrm opened #217 "Rear camera in portrait mode doesn't works correctly"
**Describe the bug**
When I tried to capture using the back camera in portrait mode, this camera doesn't rotate correctly in windows 10 tablets like surface.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the sample page https://zxing-js.github.io/ngx-scanner/
2. Click on spinner to select back camera
3. See error

**Expected behavior**
I expect that the camera preview is oriented cor

[2019-07-02 21:57] odahcam commented on #217
Camera works fine, I think this is more like a feature request, because we did not coded anything to recognize device orientation for rotating the image.

[2019-07-02 22:00] odahcam commented on #216
Please provide the requested information in the issue creation so we can help.

[2019-07-03 09:39] ramdanegie opened #218 "Can't get user media, this isnt supported"
I found error Can't get user media, this isnt supported.  In domain or other device  cant detected camera , but in my localhost project nothing bugs. please help ! thanks
![image](https://user-images.githubusercontent.com/38318462/60581491-835e0b80-9db9-11e9-812d-0cf9faac8714.png)

[2019-07-03 09:51] ramdanegie commented on #218
or my domain must secure (https)
?

[2019-07-03 11:17] hemchudgar commented on #213
@odahcam Can we connect handheld barcode device to this library and get the scanned data with the help of this library?

[2019-07-03 13:36] ManiyanKarthi commented on #133
What was the issue there, is the device not supported?

[2019-07-03 13:48] ManiyanKarthi commented on #218
Hi ramdanegie,

https://github.com/zxing-js/ngx-scanner/issues/133

Is this similar issue  ,if you find the solution comment below

[2019-07-03 21:36] JuSteph93 commented on #211
It's there, in the "Getting started" section

[2019-07-03 21:39] JuSteph93 commented on #211
Sorry, I remember that it was on the wiki page, but it is here https://embed.plnkr.co/MN4riU/

[2019-07-04 13:46] benbrownlol commented on #210
You don't have your permissions properly set. Do the following:

1. Install https://www.npmjs.com/package/cordova-plugin-android-permissions
2. Add `xmlns:android="http://schemas.android.com/apk/res/android"` to the `<widget>` tag in your config.xml
3. Add the following snippet inside your `<platform name="android">` tag in your config.xml:
[code]
4. Add the following code to the location that you

[2019-07-04 13:53] benbrownlol commented on #167
See https://github.com/zxing-js/ngx-scanner/issues/210 for fix if anyone else is having trouble with this.

[2019-07-04 16:28] odahcam commented on #211
All right, please, take a look in the [example](https://zxing-ngx-scanner.stackblitz.io) available on [StackBlitz](https://stackblitz.com/edit/zxing-ngx-scanner). It will solve your problems.

[2019-07-04 16:28] #211 closed

[2019-07-04 16:39] odahcam commented on #133
He wanted to manually get the user's media input devices.

[2019-07-04 16:40] odahcam commented on #218
Hello!

You **need** SSL to access the user devices or explicit server the application from **localhost**. I can see in your print, you're under a IP address, which requires SSL.

[2019-07-04 16:50] ramdanegie commented on #218
Thank u so much is very helfull 😊😊

[2019-07-05 06:18] ManiyanKarthi commented on #218
Hi Luiz Machado odahcam,
              If My site is secured, able to access the camera but barcode is not scanning , is the below code is correct. Do you have any videos about how the code works.

<zxing-scanner  (scanSuccess)="onCodeResult($event)" ></zxing-scanner>

            onCodeResult(resultString: string) {
		 alert("onCodeResult"+resultString)
		}

[2019-07-05 16:31] odahcam commented on #218
@ramdanegie you're welcome. :)

@ManiyanKarthi can you open a new issue and detail a bit more what's happening? Like is the component showing any camera images, or it's doing nothing at all...

I'm closing this one as the original issue is solved.

[2019-07-05 16:31] #218 closed

[2019-07-05 16:33] odahcam commented on #167
Thanks for pointing out @benbrownlol . I'll close this, anyone looking for a solution can take a look [here](https://github.com/zxing-js/ngx-scanner/issues/210#issuecomment-508488434).